<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1133,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{1133,94}}</string>
                <key>sourceSize</key>
                <string>{1133,104}</string>
            </dict>
            <key>line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{1133,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{1133,90}}</string>
                <key>sourceSize</key>
                <string>{1133,104}</string>
            </dict>
            <key>line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{1133,88}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1133,88}}</string>
                <key>sourceSize</key>
                <string>{1133,104}</string>
            </dict>
            <key>line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{1133,78}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{1133,78}}</string>
                <key>sourceSize</key>
                <string>{1133,104}</string>
            </dict>
            <key>line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{1133,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{1133,80}}</string>
                <key>sourceSize</key>
                <string>{1133,104}</string>
            </dict>
            <key>line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{1133,86}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{1133,86}}</string>
                <key>sourceSize</key>
                <string>{1133,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{1137,531}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90c812e31b3c997a33822e6c2af9b76b$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
