<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_liangpai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,310},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,156},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,156},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,122},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>card_liangpai_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_sm.png</string>
            <key>size</key>
            <string>{1662,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d11d33ec370ac292af7dbba3d7ad855$</string>
            <key>textureFileName</key>
            <string>card_sm.png</string>
        </dict>
    </dict>
</plist>
