<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_big1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>card_big1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_big.png</string>
            <key>size</key>
            <string>{1641,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddcc08e7167ae7cc5779e50a2c7110a0$</string>
            <key>textureFileName</key>
            <string>card_big.png</string>
        </dict>
    </dict>
</plist>
