<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WUHUA_NIU_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,128}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{278,128}}</string>
                <key>sourceSize</key>
                <string>{338,184}</string>
            </dict>
            <key>WUHUA_NIU_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,248},{234,84}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,47},{234,84}}</string>
                <key>sourceSize</key>
                <string>{338,184}</string>
            </dict>
            <key>WUHUA_NIU_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,248},{236,92}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{236,92}}</string>
                <key>sourceSize</key>
                <string>{338,184}</string>
            </dict>
            <key>WUHUA_NIU_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{260,104}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{260,104}}</string>
                <key>sourceSize</key>
                <string>{338,184}</string>
            </dict>
            <key>WUHUA_NIU_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{270,114}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{270,114}}</string>
                <key>sourceSize</key>
                <string>{338,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niu_wuhua.png</string>
            <key>size</key>
            <string>{288,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b370ffdd2c8a7d7fce61c55045cc696$</string>
            <key>textureFileName</key>
            <string>niu_wuhua.png</string>
        </dict>
    </dict>
</plist>
