<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SIHUA_NIU_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,128}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{279,128}}</string>
                <key>sourceSize</key>
                <string>{337,188}</string>
            </dict>
            <key>SIHUA_NIU_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,202},{233,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{233,84}}</string>
                <key>sourceSize</key>
                <string>{337,188}</string>
            </dict>
            <key>SIHUA_NIU_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,108},{235,92}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{235,92}}</string>
                <key>sourceSize</key>
                <string>{337,188}</string>
            </dict>
            <key>SIHUA_NIU_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{261,104}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{261,104}}</string>
                <key>sourceSize</key>
                <string>{337,188}</string>
            </dict>
            <key>SIHUA_NIU_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{271,114}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{271,114}}</string>
                <key>sourceSize</key>
                <string>{337,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niu_sihua.png</string>
            <key>size</key>
            <string>{511,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05dfde2e995e8e514f1991ad4c2f1815$</string>
            <key>textureFileName</key>
            <string>niu_sihua.png</string>
        </dict>
    </dict>
</plist>
