<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>150001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{230,142}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{230,142}}</string>
                <key>sourceSize</key>
                <string>{274,148}</string>
            </dict>
            <key>150002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,148}}</string>
                <key>sourceSize</key>
                <string>{274,148}</string>
            </dict>
            <key>150003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,282},{168,86}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,34},{168,86}}</string>
                <key>sourceSize</key>
                <string>{274,148}</string>
            </dict>
            <key>150004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,272},{198,118}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,20},{198,118}}</string>
                <key>sourceSize</key>
                <string>{274,148}</string>
            </dict>
            <key>150005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{220,134}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,11},{220,134}}</string>
                <key>sourceSize</key>
                <string>{274,148}</string>
            </dict>
            <key>150006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,282},{169,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,104},{169,86}}</string>
                <key>sourceSize</key>
                <string>{425,298}</string>
            </dict>
            <key>150007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{199,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,90},{199,118}}</string>
                <key>sourceSize</key>
                <string>{425,298}</string>
            </dict>
            <key>150008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{199,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,90},{199,118}}</string>
                <key>sourceSize</key>
                <string>{425,298}</string>
            </dict>
            <key>150009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,146},{221,134}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,81},{221,134}}</string>
                <key>sourceSize</key>
                <string>{425,298}</string>
            </dict>
            <key>150010.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,146},{221,134}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,81},{221,134}}</string>
                <key>sourceSize</key>
                <string>{425,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>four.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e6307dbdc7a8aedc126694b81330234$</string>
            <key>textureFileName</key>
            <string>four.png</string>
        </dict>
    </dict>
</plist>
