<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FK10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FK2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FK3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FK4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FK5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FK6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FK7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FK8.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FK9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FKA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FKJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FKK.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FKQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT5.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT6.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT8.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HT9.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HTA.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HTJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HTK.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>HTQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>J1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>J2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH10.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH7.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MH9.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MHA.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MHJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MHK.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>MHQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RH9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RHA.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RHJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RHK.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>RHQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>dp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,368},{120,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>puke.png</string>
            <key>size</key>
            <string>{1346,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06a1e173f8a8c273e7cb83b397a9f154$</string>
            <key>textureFileName</key>
            <string>puke.png</string>
        </dict>
    </dict>
</plist>
