<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BetDown_Horse_hong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{120,91}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{120,91}}</string>
                <key>sourceSize</key>
                <string>{122,131}</string>
            </dict>
            <key>BetDown_Horse_hong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{121,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{121,117}}</string>
                <key>sourceSize</key>
                <string>{121,131}</string>
            </dict>
            <key>BetDown_Horse_hong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{122,121}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,131}</string>
            </dict>
            <key>BetDown_Horse_hong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{121,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{121,113}}</string>
                <key>sourceSize</key>
                <string>{121,131}</string>
            </dict>
            <key>BetDown_Horse_hong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{122,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{122,110}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>BetDown_Horse_hong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{121,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{121,100}}</string>
                <key>sourceSize</key>
                <string>{121,130}</string>
            </dict>
            <key>BetDown_Horse_hong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{122,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{122,94}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>BetDown_Horse_hong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1133},{119,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{119,96}}</string>
                <key>sourceSize</key>
                <string>{121,130}</string>
            </dict>
            <key>BetDown_Horse_hong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1231},{119,91}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{119,91}}</string>
                <key>sourceSize</key>
                <string>{121,131}</string>
            </dict>
            <key>BetDown_Horse_hong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{122,117}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{122,117}}</string>
                <key>sourceSize</key>
                <string>{122,131}</string>
            </dict>
            <key>BetDown_Horse_hong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1713},{117,123}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{117,123}}</string>
                <key>sourceSize</key>
                <string>{121,131}</string>
            </dict>
            <key>BetDown_Horse_hong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{118,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{118,122}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>BetDown_Horse_hong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1583},{117,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{117,128}}</string>
                <key>sourceSize</key>
                <string>{121,130}</string>
            </dict>
            <key>BetDown_Horse_hong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>BetDown_Horse_hong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{117,130}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{117,130}}</string>
                <key>sourceSize</key>
                <string>{121,130}</string>
            </dict>
            <key>BetDown_Horse_hong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{118,125}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,125}}</string>
                <key>sourceSize</key>
                <string>{122,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BetDown_Horse_hong.png</string>
            <key>size</key>
            <string>{126,1838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a08067157d2824abc708c88765a1ef14$</string>
            <key>textureFileName</key>
            <string>BetDown_Horse_hong.png</string>
        </dict>
    </dict>
</plist>
