<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BetDown_Horse_Bg_Effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>BetDown_Horse_Bg_Effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>BetDown_Horse_Bg_Effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BetDown_Horse_Effect.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0edbcb4c3a72518190f6523330f7f52f$</string>
            <key>textureFileName</key>
            <string>BetDown_Horse_Effect.png</string>
        </dict>
    </dict>
</plist>
