<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{186,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{186,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{188,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{188,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>tx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{190,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>tx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{188,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{188,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx.png</string>
            <key>size</key>
            <string>{950,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec363376b4fa211838a3e8c16ab0851$</string>
            <key>textureFileName</key>
            <string>tx.png</string>
        </dict>
    </dict>
</plist>
