<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,466},{1440,10}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,549},{1440,10}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
            <key>line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,466},{1440,10}}</string>
                <key>offset</key>
                <string>{-6,192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,343},{1440,10}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
            <key>line_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,466},{1440,10}}</string>
                <key>offset</key>
                <string>{-6,-219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,754},{1440,10}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
            <key>line_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,466},{1440,480}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,281},{1440,480}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
            <key>line_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{1440,480}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,351},{1440,480}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
            <key>line_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,466},{1438,148}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,406},{1438,148}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
            <key>line_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,466},{1438,148}}</string>
                <key>offset</key>
                <string>{-7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,552},{1438,148}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
            <key>line_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{1436,230}}</string>
                <key>offset</key>
                <string>{-7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,486},{1436,230}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
            <key>line_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1436,230}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,392},{1436,230}}</string>
                <key>sourceSize</key>
                <string>{1642,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuihu_line.png</string>
            <key>size</key>
            <string>{1440,1908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b372c7860323cbdb977b81407b3f18bc$</string>
            <key>textureFileName</key>
            <string>shuihu_line.png</string>
        </dict>
    </dict>
</plist>
