<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>senceItem1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,322},{88,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{88,136}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,146},{88,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{88,140}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,374},{88,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,138}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,284},{88,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,138}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,146},{88,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{88,140}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,92},{88,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,138}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,288},{86,142}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{86,142}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{88,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{88,140}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{86,144}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{86,144}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,232},{86,140}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{86,140}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,292},{86,142}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{86,142}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,92},{88,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,138}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{86,144}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{86,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{86,144}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{86,144}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,90},{86,140}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{86,140}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{86,142}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{86,142}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,148},{86,142}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{86,142}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{88,142}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{88,142}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{88,142}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{88,142}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{88,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{88,140}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,144},{88,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,138}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,288},{88,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,138}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,144},{88,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{88,138}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,412},{88,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,134}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{88,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,134}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,410},{88,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{88,136}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,320},{88,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{88,136}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>senceItem1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,232},{88,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{88,136}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>senceItem1.png</string>
            <key>size</key>
            <string>{818,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71856866036bb61619c494478d31277d$</string>
            <key>textureFileName</key>
            <string>senceItem1.png</string>
        </dict>
    </dict>
</plist>
