<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MyEffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,236},{201,208}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,208}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,230},{201,214}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,214}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,232},{201,210}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,210}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{201,208}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,208}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,238},{201,210}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,210}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,226},{201,218}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,218}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{201,226}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,226}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{201,232}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,232}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,236}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,236}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{201,234}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,234}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{201,228}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,228}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
            <key>MyEffect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{201,222}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,222}}</string>
                <key>sourceSize</key>
                <string>{211,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MyEffect.png</string>
            <key>size</key>
            <string>{1220,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:193e705d212a0cb74f36966ab4363b10$</string>
            <key>textureFileName</key>
            <string>MyEffect.png</string>
        </dict>
    </dict>
</plist>
