<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>satOther_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,447},{115,96}}</string>
                <key>offset</key>
                <string>{-18,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,318},{115,96}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,689},{611,324}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,90},{611,324}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1288},{583,296}}</string>
                <key>offset</key>
                <string>{17,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,118},{583,296}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{443,124}}</string>
                <key>offset</key>
                <string>{86,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,290},{443,124}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1598},{481,286}}</string>
                <key>offset</key>
                <string>{-24,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,128},{481,286}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1302},{569,294}}</string>
                <key>offset</key>
                <string>{10,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,120},{569,294}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{585,298}}</string>
                <key>offset</key>
                <string>{18,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,116},{585,298}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{597,302}}</string>
                <key>offset</key>
                <string>{14,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,112},{597,302}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{649,316}}</string>
                <key>offset</key>
                <string>{24,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,98},{649,316}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{681,328}}</string>
                <key>offset</key>
                <string>{19,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,86},{681,328}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{697,332}}</string>
                <key>offset</key>
                <string>{17,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,82},{697,332}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
            <key>satOther_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{685,328}}</string>
                <key>offset</key>
                <string>{28,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,86},{685,328}}</string>
                <key>sourceSize</key>
                <string>{781,418}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>satOther.png</string>
            <key>size</key>
            <string>{1172,1886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04f4eab04239ee0f04b98e03316bff11$</string>
            <key>textureFileName</key>
            <string>satOther.png</string>
        </dict>
    </dict>
</plist>
