<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>senceItem4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,184},{169,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{169,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{175,180}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{175,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,184},{165,180}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{165,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,184},{171,180}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{171,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{169,180}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{169,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{167,180}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{167,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{171,178}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{171,178}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,180},{173,176}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{173,176}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{173,176}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{173,176}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,182},{171,178}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{171,178}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{171,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{171,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{175,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{175,178}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,184},{175,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{175,178}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>senceItem4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{175,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>senceItem4.png</string>
            <key>size</key>
            <string>{1217,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c2d0a00e2ba5392d82b142f25dcf3c6$</string>
            <key>textureFileName</key>
            <string>senceItem4.png</string>
        </dict>
    </dict>
</plist>
