<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>senceItem3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,996},{194,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{194,106}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{194,112}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{194,112}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{194,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{194,104}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,208},{196,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{196,110}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,406},{196,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{196,106}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{196,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{196,108}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{204,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{204,108}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{204,110}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{196,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{196,110}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{196,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{196,110}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{200,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{200,108}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{198,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{198,108}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,604},{194,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{194,108}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>senceItem3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,800},{194,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{194,106}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>senceItem3.png</string>
            <key>size</key>
            <string>{224,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e8d6260ae4c9f7118ffc3c3f9e1f86$</string>
            <key>textureFileName</key>
            <string>senceItem3.png</string>
        </dict>
    </dict>
</plist>
