<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanchun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,308},{244,128}}</string>
                <key>offset</key>
                <string>{-38,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,67},{244,128}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,920},{510,304}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,3},{510,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{526,304}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,3},{526,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{536,304}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{536,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,614},{548,304}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{548,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,304}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{596,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{558,304}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{558,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,308},{564,304}}</string>
                <key>offset</key>
                <string>{-26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{564,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{566,304}}</string>
                <key>offset</key>
                <string>{-27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{566,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{568,304}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{568,304}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,614},{352,182}}</string>
                <key>offset</key>
                <string>{-36,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,41},{352,182}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1244},{486,250}}</string>
                <key>offset</key>
                <string>{-33,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,6},{486,250}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1528},{456,234}}</string>
                <key>offset</key>
                <string>{-35,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,15},{456,234}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1776},{450,232}}</string>
                <key>offset</key>
                <string>{-35,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,16},{450,232}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1776},{468,262}}</string>
                <key>offset</key>
                <string>{-34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{468,262}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,968},{474,274}}</string>
                <key>offset</key>
                <string>{-24,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,9},{474,274}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1496},{480,278}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,12},{480,278}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
            <key>fanchun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1226},{498,300}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,3},{498,300}}</string>
                <key>sourceSize</key>
                <string>{636,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fanchun.png</string>
            <key>size</key>
            <string>{1296,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df418fc7fe9497a7af7e6bb3a96c5da3$</string>
            <key>textureFileName</key>
            <string>fanchun.png</string>
        </dict>
    </dict>
</plist>
