<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feiji0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{793,236}}</string>
                <key>offset</key>
                <string>{-89,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,48},{793,236}}</string>
                <key>sourceSize</key>
                <string>{973,344}</string>
            </dict>
            <key>feiji0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,244},{839,232}}</string>
                <key>offset</key>
                <string>{-66,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,57},{839,232}}</string>
                <key>sourceSize</key>
                <string>{973,344}</string>
            </dict>
            <key>feiji0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{881,240}}</string>
                <key>offset</key>
                <string>{-43,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,50},{881,240}}</string>
                <key>sourceSize</key>
                <string>{973,344}</string>
            </dict>
            <key>feiji0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{747,222}}</string>
                <key>offset</key>
                <string>{-113,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{747,222}}</string>
                <key>sourceSize</key>
                <string>{973,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feijihechibang.png</string>
            <key>size</key>
            <string>{1638,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b05a4a3ac64915a1feb26736dd3f0dc$</string>
            <key>textureFileName</key>
            <string>feijihechibang.png</string>
        </dict>
    </dict>
</plist>
