<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DS_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,479},{49,56}}</string>
                <key>offset</key>
                <string>{242,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,45},{49,56}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,186},{291,146}}</string>
                <key>offset</key>
                <string>{-96,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,50},{291,146}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{533,100}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{533,100}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,705},{309,72}}</string>
                <key>offset</key>
                <string>{-112,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{309,72}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{533,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,71},{533,76}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,685},{67,42}}</string>
                <key>offset</key>
                <string>{-233,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{67,42}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{533,74}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{533,74}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,106}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{533,106}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{357,146}}</string>
                <key>offset</key>
                <string>{88,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,58},{357,146}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{301,128}}</string>
                <key>offset</key>
                <string>{31,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,60},{301,128}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,815},{221,180}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,537},{163,166}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,7},{163,166}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{159,182}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,2},{159,182}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
            <key>DS_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{199,160}}</string>
                <key>offset</key>
                <string>{-50,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,20},{199,160}}</string>
                <key>sourceSize</key>
                <string>{533,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>long.png</string>
            <key>size</key>
            <string>{527,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed17b6e5f52d2811e4d5f5d912017349$</string>
            <key>textureFileName</key>
            <string>long.png</string>
        </dict>
    </dict>
</plist>
