<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhengzaipeizhuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{289,30}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,30}}</string>
                <key>sourceSize</key>
                <string>{331,30}</string>
            </dict>
            <key>zhengzaipeizhuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{305,30}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{305,30}}</string>
                <key>sourceSize</key>
                <string>{331,30}</string>
            </dict>
            <key>zhengzaipeizhuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,30}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,30}}</string>
                <key>sourceSize</key>
                <string>{331,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>waitTable.png</string>
            <key>size</key>
            <string>{925,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b627395accd52439b1b6ecc95446fe7$</string>
            <key>textureFileName</key>
            <string>waitTable.png</string>
        </dict>
    </dict>
</plist>
