<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,360},{134,130}}</string>
                <key>offset</key>
                <string>{-7,180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{134,130}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,266},{260,232}}</string>
                <key>offset</key>
                <string>{0,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,248},{260,232}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{262,252}}</string>
                <key>offset</key>
                <string>{-1,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,228},{262,252}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,264},{260,226}}</string>
                <key>offset</key>
                <string>{0,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,254},{260,226}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,264},{260,222}}</string>
                <key>offset</key>
                <string>{0,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,258},{260,222}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{260,222}}</string>
                <key>offset</key>
                <string>{1,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,258},{260,222}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{264,188}}</string>
                <key>offset</key>
                <string>{1,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,292},{264,188}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,254},{136,184}}</string>
                <key>offset</key>
                <string>{-10,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,11},{136,184}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,140},{136,218}}</string>
                <key>offset</key>
                <string>{-8,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{136,218}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{136,250}}</string>
                <key>offset</key>
                <string>{-8,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,11},{136,250}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,2},{136,270}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,61},{136,270}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,264},{212,284}}</string>
                <key>offset</key>
                <string>{-4,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,191},{212,284}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,310}}</string>
                <key>offset</key>
                <string>{6,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,167},{242,310}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{246,260}}</string>
                <key>offset</key>
                <string>{7,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,217},{246,260}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
            <key>WZ_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{260,242}}</string>
                <key>offset</key>
                <string>{0,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,244},{260,242}}</string>
                <key>sourceSize</key>
                <string>{270,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangzha.png</string>
            <key>size</key>
            <string>{1650,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a264c8ede8981fde24dab0446488d2$</string>
            <key>textureFileName</key>
            <string>wangzha.png</string>
        </dict>
    </dict>
</plist>
