<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZD_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,194},{121,78}}</string>
                <key>offset</key>
                <string>{33,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,0},{121,78}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{225,180}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,160},{225,180}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,390},{183,182}}</string>
                <key>offset</key>
                <string>{-26,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,158},{183,182}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{127,80}}</string>
                <key>offset</key>
                <string>{32,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,65},{127,80}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,390},{137,88}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,129},{137,88}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,575},{149,94}}</string>
                <key>offset</key>
                <string>{32,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,194},{149,94}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,575},{181,140}}</string>
                <key>offset</key>
                <string>{15,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,192},{181,140}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,194},{221,194}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,143},{221,194}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{225,190}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,143},{225,190}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,202}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,137},{233,202}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
            <key>ZD_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{223,204}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,135},{223,204}}</string>
                <key>sourceSize</key>
                <string>{243,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhadan.png</string>
            <key>size</key>
            <string>{511,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1899d025959f29c673caf7ae166f7c18$</string>
            <key>textureFileName</key>
            <string>zhadan.png</string>
        </dict>
    </dict>
</plist>
