<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{67,47}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,47}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{65,41}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{65,41}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{63,43}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{63,43}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{65,41}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,41}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{67,43}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{67,43}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{67,41}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{67,41}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>fishD_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,47}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_2.png</string>
            <key>size</key>
            <string>{680,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d5d5b4c81f8d19e78df0ca6ca60bd7$</string>
            <key>textureFileName</key>
            <string>fishD_2.png</string>
        </dict>
    </dict>
</plist>
