<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{100,72}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{100,72}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{112,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{112,88}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{112,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{112,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1460},{112,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{112,78}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{112,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{112,76}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1680},{112,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{112,76}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{110,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{110,76}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{108,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{108,80}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{108,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{108,80}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{104,78}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{104,78}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{100,82}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{100,82}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{100,98}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{100,98}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{98,104}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{98,104}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{96,100}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{96,100}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,102}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{108,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{108,100}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>fish_8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{112,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{112,94}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_8.png</string>
            <key>size</key>
            <string>{106,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb4ddd9d5d70c77ebb39f0feca230b19$</string>
            <key>textureFileName</key>
            <string>fish_8.png</string>
        </dict>
    </dict>
</plist>
