<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,770},{603,250}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{603,250}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1204},{577,264}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,46},{577,264}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1750},{571,280}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{571,280}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1304},{569,216}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{569,216}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1522},{573,222}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{573,222}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1783},{575,236}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,62},{575,236}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1022},{597,280}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{597,280}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{611,268}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,268}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,232}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{613,232}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{609,246}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{609,246}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{603,250}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{603,250}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,518},{603,250}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{603,250}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,272},{607,244}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{607,244}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{607,236}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,78},{607,236}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{603,266}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,54},{603,266}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{601,284}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{601,284}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,611},{591,258}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{591,258}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{579,226}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{579,226}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
            <key>fishD_21_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{581,230}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,63},{581,230}}</string>
                <key>sourceSize</key>
                <string>{615,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_21.png</string>
            <key>size</key>
            <string>{1472,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302aac454e2531664b2aa8e6bc293706$</string>
            <key>textureFileName</key>
            <string>fishD_21.png</string>
        </dict>
    </dict>
</plist>
