<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{103,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>fishD_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>fishD_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{105,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,91}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>fishD_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{101,87}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{101,87}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>fishD_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,83}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{95,83}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>fishD_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{101,87}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{101,87}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>fishD_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{105,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,91}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>fishD_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_6.png</string>
            <key>size</key>
            <string>{99,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5973ac775fdaeb0a2ef8737f13509f7$</string>
            <key>textureFileName</key>
            <string>fishD_6.png</string>
        </dict>
    </dict>
</plist>
