<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{58,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,78}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{58,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,78}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{58,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{58,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{58,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{56,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{56,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{56,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{56,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{58,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{58,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{58,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{56,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{56,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{56,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>fish_7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{58,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_7.png</string>
            <key>size</key>
            <string>{62,1582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c636470a7d5685b7961226beb85331e7$</string>
            <key>textureFileName</key>
            <string>fish_7.png</string>
        </dict>
    </dict>
</plist>
