<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{290,249}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{290,249}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,397},{302,275}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{302,275}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,250},{304,145}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,56},{304,145}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{300,251}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{300,251}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,193},{306,171}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,94},{306,171}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{312,117}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{312,117}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,121},{308,127}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{308,127}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,481},{296,101}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,60},{296,101}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,674},{298,137}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,96},{298,137}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,674},{300,207}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{300,207}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,584},{294,121}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,58},{294,121}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,707},{288,215}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,50},{288,215}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,707},{292,127}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,102},{292,127}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{304,167}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,93},{304,167}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,366},{304,113}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,62},{304,113}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{296,63}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,110},{296,63}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{304,135}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,110},{304,135}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,177}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{312,177}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
            <key>fishD_15_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{308,189}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{308,189}}</string>
                <key>sourceSize</key>
                <string>{312,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_15.png</string>
            <key>size</key>
            <string>{1005,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5a7e21a06230b35f56b13af5c109570$</string>
            <key>textureFileName</key>
            <string>fishD_15.png</string>
        </dict>
    </dict>
</plist>
