<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,744},{221,244}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{221,244}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{281,128}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,59},{281,128}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{281,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,58},{281,130}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{281,136}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,55},{281,136}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{281,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,51},{281,144}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{277,154}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{277,154}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{271,164}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{271,164}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{259,180}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{259,180}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,257},{245,202}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,21},{245,202}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1235},{231,224}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,11},{231,224}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,504},{223,238}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,4},{223,238}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1461},{233,240}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,1},{233,240}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,990},{243,226}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,8},{243,226}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{253,204}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{253,204}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{263,174}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{263,174}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{273,152}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{273,152}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{281,138}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,54},{281,138}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{285,130}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
            <key>fish_16_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{285,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{285,128}}</string>
                <key>sourceSize</key>
                <string>{285,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_16.png</string>
            <key>size</key>
            <string>{510,1784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e78ec16f631ccd72acbb202e1928b953$</string>
            <key>textureFileName</key>
            <string>fish_16.png</string>
        </dict>
    </dict>
</plist>
