<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{107,85}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{107,85}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>fishD_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{111,91}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{111,91}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>fishD_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{115,95}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{115,95}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>fishD_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{117,93}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{117,93}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>fishD_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,91}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{119,91}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>fishD_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{117,93}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{117,93}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>fishD_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{115,95}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{115,95}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>fishD_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{111,91}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{111,91}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_8.png</string>
            <key>size</key>
            <string>{123,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af85c1559117056aa3884b5c257c2497$</string>
            <key>textureFileName</key>
            <string>fishD_8.png</string>
        </dict>
    </dict>
</plist>
