<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{112,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{112,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{112,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{112,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{114,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{114,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{114,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{112,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{112,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{114,86}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{114,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{116,88}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{116,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{118,82}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{118,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_3.png</string>
            <key>size</key>
            <string>{94,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e1ebd9e98606f5737083d30576f9cbf$</string>
            <key>textureFileName</key>
            <string>fish_3.png</string>
        </dict>
    </dict>
</plist>
