<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,33},{65,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,27}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,33},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,33},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,33},{67,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,33},{65,29}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{67,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,33},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,33},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>fish1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{65,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_1.png</string>
            <key>size</key>
            <string>{554,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902c193f352df89a01d01a4425a59ecb$</string>
            <key>textureFileName</key>
            <string>fish_1.png</string>
        </dict>
    </dict>
</plist>
