<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{109,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{109,64}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{107,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{107,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{107,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{107,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{109,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{109,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{109,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{109,72}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{109,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{109,70}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{109,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{109,68}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{109,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{109,66}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{109,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{109,66}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{109,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{109,68}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{109,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{109,72}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{109,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{109,74}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{109,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{107,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>fish_6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{107,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_6.png</string>
            <key>size</key>
            <string>{113,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:078b6a4cee7a6f17276702d5229151e1$</string>
            <key>textureFileName</key>
            <string>fish_6.png</string>
        </dict>
    </dict>
</plist>
