<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_24_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_24.png</string>
            <key>size</key>
            <string>{776,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5460ad0068aac0b3663bf2547c37c9c$</string>
            <key>textureFileName</key>
            <string>fish_24.png</string>
        </dict>
    </dict>
</plist>
