<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,46},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{64,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{64,46}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{62,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{62,52}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{60,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,62},{58,70}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,70}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,62},{58,72}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{58,72}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{58,70}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,60},{60,64}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{60,64}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{62,56}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,56}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{64,56}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{64,56}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,42},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{66,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,56},{64,60}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,62},{64,62}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,60},{64,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,60},{66,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,62},{66,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{66,58}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{64,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{64,56}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{62,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{60,70}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,82},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,72}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{60,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{62,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{62,52}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,64},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,46},{66,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,44},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>fish_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,66},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_4.png</string>
            <key>size</key>
            <string>{934,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5841901a5cf459f6474a2a1db638b70d$</string>
            <key>textureFileName</key>
            <string>fish_4.png</string>
        </dict>
    </dict>
</plist>
