<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,82}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,154},{80,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,166},{80,68}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,308},{78,68}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{78,68}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{76,74}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,78},{74,82}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{74,82}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{74,82}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,228},{78,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{80,74}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,236},{76,66}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{76,66}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,308},{74,68}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{74,68}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{78,70}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,70}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,84},{80,78}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fishD_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_4.png</string>
            <key>size</key>
            <string>{250,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:445c1de093ef7e1515687aa66d4e9183$</string>
            <key>textureFileName</key>
            <string>fishD_4.png</string>
        </dict>
    </dict>
</plist>
