<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{68,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{68,22}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,46},{68,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{68,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{68,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{68,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{68,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{68,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{68,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{68,44}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,48},{68,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,58},{68,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{68,22}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>fish_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,60},{68,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{68,18}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_2.png</string>
            <key>size</key>
            <string>{1006,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d91c50c3dbd821b294e02b359e4995be$</string>
            <key>textureFileName</key>
            <string>fish_2.png</string>
        </dict>
    </dict>
</plist>
