<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{482,149}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,21},{482,149}}</string>
                <key>sourceSize</key>
                <string>{566,207}</string>
            </dict>
            <key>fishD_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{492,137}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,36},{492,137}}</string>
                <key>sourceSize</key>
                <string>{566,207}</string>
            </dict>
            <key>fishD_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,143}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,35},{496,143}}</string>
                <key>sourceSize</key>
                <string>{566,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_18.png</string>
            <key>size</key>
            <string>{437,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c26fff947b6f71701a93501999753667$</string>
            <key>textureFileName</key>
            <string>fishD_18.png</string>
        </dict>
    </dict>
</plist>
