<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{75,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{75,49}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
            <key>fishD_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,53}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
            <key>fishD_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
            <key>fishD_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{83,45}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,45}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
            <key>fishD_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{81,43}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,43}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
            <key>fishD_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{83,45}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,45}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
            <key>fishD_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
            <key>fishD_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,53}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_5.png</string>
            <key>size</key>
            <string>{411,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a6fae89b31fc057a3cc3b036bb81e5a$</string>
            <key>textureFileName</key>
            <string>fishD_5.png</string>
        </dict>
    </dict>
</plist>
