<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_PIGEON_S_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{56,61}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{56,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_PIGEON_S_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,59}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{58,59}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_PIGEON_S_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{56,49}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{56,49}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_PIGEON_S_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{56,27}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{56,27}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_PIGEON_S_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{56,39}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{56,39}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BTN_PIGEON.png</string>
            <key>size</key>
            <string>{62,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8da46ef505f5ea3e5550d37c470551c9$</string>
            <key>textureFileName</key>
            <string>BTN_PIGEON.png</string>
        </dict>
    </dict>
</plist>
