<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_SLIVER_SHARK_S_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,57},{44,41}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,17},{44,41}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_SLIVER_SHARK_S_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{48,53}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{48,53}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_SLIVER_SHARK_S_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{74,51}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{74,51}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_SLIVER_SHARK_S_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,63}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_SLIVER_SHARK_S_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,100},{42,37}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{42,37}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BTN_SLIVER_SHARK.png</string>
            <key>size</key>
            <string>{128,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4171b5d1fe42843d42191ce863d21b61$</string>
            <key>textureFileName</key>
            <string>BTN_SLIVER_SHARK.png</string>
        </dict>
    </dict>
</plist>
