<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_RABBIT_S_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_RABBIT_S_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{46,59}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,1},{46,59}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_RABBIT_S_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{50,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{50,59}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_RABBIT_S_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{52,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{52,57}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_RABBIT_S_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{54,57}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{54,57}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BTN_RABBIT.png</string>
            <key>size</key>
            <string>{256,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e7449b36fc0d5f4eed1911e4e673c9$</string>
            <key>textureFileName</key>
            <string>BTN_RABBIT.png</string>
        </dict>
    </dict>
</plist>
