<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_PEACOCK_S_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,191},{40,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{40,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_PEACOCK_S_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{66,61}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{66,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_PEACOCK_S_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{90,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{90,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_PEACOCK_S_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{92,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{92,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_PEACOCK_S_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{98,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BTN_PEACOCK.png</string>
            <key>size</key>
            <string>{112,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:374d258088ffe8df7e7c2143d6766ef6$</string>
            <key>textureFileName</key>
            <string>BTN_PEACOCK.png</string>
        </dict>
    </dict>
</plist>
