<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_LION_S_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{46,61}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,1},{46,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_LION_S_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{52,63}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_LION_S_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{52,63}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_LION_S_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{56,63}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_LION_S_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{66,59}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BTN_LION.png</string>
            <key>size</key>
            <string>{63,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:234476c1cd324d8dd4d94b95b457ec7d$</string>
            <key>textureFileName</key>
            <string>BTN_LION.png</string>
        </dict>
    </dict>
</plist>
