<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_SWALLOW_S_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{70,57}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_SWALLOW_S_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,45}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{76,45}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_SWALLOW_S_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{86,53}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{86,53}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_SWALLOW_S_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{82,33}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,33}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>WIN_SWALLOW_S_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,59}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{72,59}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BTN_SWALLOW.png</string>
            <key>size</key>
            <string>{398,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9da6e88e2002042be3de78a8dbe14d95$</string>
            <key>textureFileName</key>
            <string>BTN_SWALLOW.png</string>
        </dict>
    </dict>
</plist>
