<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{28,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,80}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>ly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,82}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>ly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{28,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,80}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>ly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{28,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,78}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiyu.png</string>
            <key>size</key>
            <string>{32,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dc13320df5b3a241121b1d9dd416445$</string>
            <key>textureFileName</key>
            <string>caiyu.png</string>
        </dict>
    </dict>
</plist>
