<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xcy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{26,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,78}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>xcy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{24,78}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{24,78}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>xcy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,78}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>xcy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{26,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,76}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chouyu.png</string>
            <key>size</key>
            <string>{30,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cfba2e87385e6ff6fac895ff0ace156$</string>
            <key>textureFileName</key>
            <string>chouyu.png</string>
        </dict>
    </dict>
</plist>
