<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{95,251}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{95,251}}</string>
                <key>sourceSize</key>
                <string>{113,263}</string>
            </dict>
            <key>sy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{95,245}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{95,245}}</string>
                <key>sourceSize</key>
                <string>{113,263}</string>
            </dict>
            <key>sy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{95,251}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{95,251}}</string>
                <key>sourceSize</key>
                <string>{113,263}</string>
            </dict>
            <key>sy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,241}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{101,241}}</string>
                <key>sourceSize</key>
                <string>{113,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lanyu.png</string>
            <key>size</key>
            <string>{105,745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7696cf6c7015dddddba8abd061fd7809$</string>
            <key>textureFileName</key>
            <string>lanyu.png</string>
        </dict>
    </dict>
</plist>
