<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LASER_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{1920,982}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,982}}</string>
                <key>sourceSize</key>
                <string>{1920,1022}</string>
            </dict>
            <key>LASER_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1022}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1022}}</string>
                <key>sourceSize</key>
                <string>{1920,1022}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LASER.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afebf38a8d5462311602c5a78f3b09e5$</string>
            <key>textureFileName</key>
            <string>LASER.png</string>
        </dict>
    </dict>
</plist>
