<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dd0.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{508,47}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,47}}</string>
                <key>sourceSize</key>
                <string>{590,47}</string>
            </dict>
            <key>dd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,51},{534,47}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,47}}</string>
                <key>sourceSize</key>
                <string>{590,47}</string>
            </dict>
            <key>dd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{558,47}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,47}}</string>
                <key>sourceSize</key>
                <string>{590,47}</string>
            </dict>
            <key>dd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,47}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,47}}</string>
                <key>sourceSize</key>
                <string>{590,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wait.png</string>
            <key>size</key>
            <string>{1098,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c60d2a7a66364c0fc1ed87cca07cdb86$</string>
            <key>textureFileName</key>
            <string>wait.png</string>
        </dict>
    </dict>
</plist>
