<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_BRIGHT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,396}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>WIN_BRIGHT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{334,332}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,33},{334,332}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>WIN_BRIGHT_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{248,252}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,70},{248,252}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>WIN_BRIGHT_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,734},{216,220}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,90},{216,220}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win.png</string>
            <key>size</key>
            <string>{470,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ffb3927bef822504d76cc9970856587$</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
