<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_GOLD_SHARK_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,308},{110,100}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,98},{110,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_GOLD_SHARK_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,174},{118,132}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{118,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_GOLD_SHARK_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{182,120}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{182,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_GOLD_SHARK_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,170}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{182,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_GOLD_SHARK_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{116,58}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,131},{116,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WIN_GOLD_SHARK.png</string>
            <key>size</key>
            <string>{246,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e8e8393b196f5df252a171da5740c79$</string>
            <key>textureFileName</key>
            <string>WIN_GOLD_SHARK.png</string>
        </dict>
    </dict>
</plist>
