<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_EAGLE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{156,164}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{156,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_EAGLE_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,122},{190,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{190,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_EAGLE_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,84}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,76},{188,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_EAGLE_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{170,118}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,55},{170,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_EAGLE_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{168,146}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,51},{168,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WIN_EAGLE.png</string>
            <key>size</key>
            <string>{512,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:782fe19a7d3a9d2f5acb8c236109a17e$</string>
            <key>textureFileName</key>
            <string>WIN_EAGLE.png</string>
        </dict>
    </dict>
</plist>
