<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_PANDA_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{164,168}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{164,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_PANDA_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{148,164}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{148,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_PANDA_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{130,158}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{130,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_PANDA_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{150,164}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{150,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_PANDA_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,174}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{154,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WIN_PANDA.png</string>
            <key>size</key>
            <string>{758,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9bcd5587064f03f7bc0f8f79b44aa73$</string>
            <key>textureFileName</key>
            <string>WIN_PANDA.png</string>
        </dict>
    </dict>
</plist>
