<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN_SLIVER_SHARK_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,306},{108,102}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,96},{108,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_SLIVER_SHARK_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,174},{118,130}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{118,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_SLIVER_SHARK_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{184,122}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{184,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_SLIVER_SHARK_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,170}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{184,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WIN_SLIVER_SHARK_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{118,58}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,131},{118,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WIN_SLIVER_SHARK.png</string>
            <key>size</key>
            <string>{248,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0c346f1c467b3ab0603175f920a4c30$</string>
            <key>textureFileName</key>
            <string>WIN_SLIVER_SHARK.png</string>
        </dict>
    </dict>
</plist>
