<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{204,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,149}}</string>
                <key>sourceSize</key>
                <string>{204,149}</string>
            </dict>
            <key>huan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,149}}</string>
                <key>sourceSize</key>
                <string>{204,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellowkuang.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b99ceac9749daa1bb88b4b6710cba37$</string>
            <key>textureFileName</key>
            <string>yellowkuang.png</string>
        </dict>
    </dict>
</plist>
