<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1297},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1852},{254,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,183}</string>
            </dict>
            <key>1_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1297},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1667},{254,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,183}</string>
            </dict>
            <key>1_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1112},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1667},{254,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,183}</string>
            </dict>
            <key>1_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,927},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,742},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,557},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,372},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,187},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1482},{254,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1_1.png</string>
            <key>size</key>
            <string>{516,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6748bb3c18b4432bab29195d3ae43c3$</string>
            <key>textureFileName</key>
            <string>1_1.png</string>
        </dict>
    </dict>
</plist>
