<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,773},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,746},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,746},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,932},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>2_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,560},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,560},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,932},{255,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,182}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,516},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,374},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,374},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,259},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,188},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,188},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:391edb61928c0e943ce007621faf28f0$</string>
            <key>textureFileName</key>
            <string>2_1.png</string>
        </dict>
    </dict>
</plist>
