<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,746},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>4_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1488},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>4_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,560},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>4_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1287},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1117},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1030},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,932},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,773},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,516},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1301},{255,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,181}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,259},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1544},{254,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,183}</string>
            </dict>
            <key>4_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1674},{254,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,183}</string>
            </dict>
            <key>4_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{255,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,181}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>4_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,374},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,188},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>4_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1302},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4_1.png</string>
            <key>size</key>
            <string>{701,1859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25ca578cf7a30754fed07692208474a3$</string>
            <key>textureFileName</key>
            <string>4_1.png</string>
        </dict>
    </dict>
</plist>
