<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,259},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,259},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,2},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,259},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>5_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,188},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>5_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>5_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,2},{254,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,185}</string>
            </dict>
            <key>5_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,259},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,258},{254,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,185}</string>
            </dict>
            <key>5_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{254,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,185}</string>
            </dict>
            <key>5_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,259},{255,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
            <key>5_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5_1.png</string>
            <key>size</key>
            <string>{1986,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f63170b86fef48a3ec89f49248d26bb$</string>
            <key>textureFileName</key>
            <string>5_1.png</string>
        </dict>
    </dict>
</plist>
