<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,374},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,374},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,746},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>7_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>7_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,259},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>7_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,772},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>7_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1002},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>7_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,745},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>7_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,560},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,188},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,745},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>7_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1002},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>7_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,560},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>7_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{255,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,183}}</string>
                <key>sourceSize</key>
                <string>{255,183}</string>
            </dict>
            <key>7_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,957},{254,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,183}</string>
            </dict>
            <key>7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,188},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,184}}</string>
                <key>sourceSize</key>
                <string>{255,184}</string>
            </dict>
            <key>7_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,516},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7_1.png</string>
            <key>size</key>
            <string>{1001,1213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:834981d9c719dcc3a91443555c3ace83$</string>
            <key>textureFileName</key>
            <string>7_1.png</string>
        </dict>
    </dict>
</plist>
