<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{255,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,189}}</string>
                <key>sourceSize</key>
                <string>{255,189}</string>
            </dict>
            <key>8_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{255,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,189}}</string>
                <key>sourceSize</key>
                <string>{255,189}</string>
            </dict>
            <key>8_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{255,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,189}}</string>
                <key>sourceSize</key>
                <string>{255,189}</string>
            </dict>
            <key>8_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{255,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,189}}</string>
                <key>sourceSize</key>
                <string>{255,189}</string>
            </dict>
            <key>8_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,189}}</string>
                <key>sourceSize</key>
                <string>{255,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8_0.png</string>
            <key>size</key>
            <string>{1287,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39b56cd7e5d58770c4be037bf1d16bd6$</string>
            <key>textureFileName</key>
            <string>8_0.png</string>
        </dict>
    </dict>
</plist>
