<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1543},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1136},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1543},{254,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,187}</string>
            </dict>
            <key>8_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,947},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1030},{255,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,773},{255,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1287},{254,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,187}</string>
            </dict>
            <key>8_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,516},{255,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,259},{255,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1514},{254,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,187}}</string>
                <key>sourceSize</key>
                <string>{254,187}</string>
            </dict>
            <key>8_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,758},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1325},{254,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,187}}</string>
                <key>sourceSize</key>
                <string>{254,187}</string>
            </dict>
            <key>8_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,569},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{255,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,185}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,380},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,191},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1325},{254,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,187}}</string>
                <key>sourceSize</key>
                <string>{254,187}</string>
            </dict>
            <key>8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8_1.png</string>
            <key>size</key>
            <string>{703,1799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4878da55a3e93ac680e63a8d6e5897a8$</string>
            <key>textureFileName</key>
            <string>8_1.png</string>
        </dict>
    </dict>
</plist>
