<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,470}}</string>
                <key>offset</key>
                <string>{-59,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,90},{640,470}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{748,378}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,177},{748,378}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1338},{514,490}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,67},{514,490}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{608,430}}</string>
                <key>offset</key>
                <string>{-44,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,158},{608,430}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{748,378}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,177},{748,378}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{748,378}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,177},{748,378}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{608,430}}</string>
                <key>offset</key>
                <string>{-44,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,158},{608,430}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{608,430}}</string>
                <key>offset</key>
                <string>{-44,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,158},{608,430}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{748,378}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,177},{748,378}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{608,430}}</string>
                <key>offset</key>
                <string>{-44,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,158},{608,430}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_2_0.png</string>
            <key>size</key>
            <string>{1024,1948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c630895f2612fbd9270e0c91e4595cc$</string>
            <key>textureFileName</key>
            <string>boss_2_0.png</string>
        </dict>
    </dict>
</plist>
