<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,896},{612,556}}</string>
                <key>offset</key>
                <string>{24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,86},{612,556}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{498,510}}</string>
                <key>offset</key>
                <string>{-36,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,38},{498,510}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1454},{568,578}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,62},{568,578}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1454},{570,578}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,62},{570,578}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{566,578}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,62},{566,578}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,896},{500,518}}</string>
                <key>offset</key>
                <string>{-45,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,69},{500,518}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,424}}</string>
                <key>offset</key>
                <string>{-9,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,124},{438,424}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{460,434}}</string>
                <key>offset</key>
                <string>{-9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,114},{460,434}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{442,436}}</string>
                <key>offset</key>
                <string>{-12,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,112},{442,436}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,446},{452,448}}</string>
                <key>offset</key>
                <string>{-5,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,100},{452,448}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{496,440}}</string>
                <key>offset</key>
                <string>{-27,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,108},{496,440}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,438},{504,446}}</string>
                <key>offset</key>
                <string>{-30,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,102},{504,446}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{434,548}}</string>
                <key>offset</key>
                <string>{0,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,0},{434,548}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_0_0.png</string>
            <key>size</key>
            <string>{1892,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d2307ff5cdee50d2cdddfb8adfbccfd$</string>
            <key>textureFileName</key>
            <string>boss_0_0.png</string>
        </dict>
    </dict>
</plist>
