<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1098},{554,548}}</string>
                <key>offset</key>
                <string>{49,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,100},{554,548}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,564},{604,512}}</string>
                <key>offset</key>
                <string>{-41,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{604,512}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{554,550}}</string>
                <key>offset</key>
                <string>{49,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,98},{554,550}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,574},{588,522}}</string>
                <key>offset</key>
                <string>{66,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,126},{588,522}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{594,508}}</string>
                <key>offset</key>
                <string>{71,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,140},{594,508}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1560},{624,482}}</string>
                <key>offset</key>
                <string>{30,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,74},{624,482}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1078},{638,480}}</string>
                <key>offset</key>
                <string>{18,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,75},{638,480}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{602,560}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,57},{602,560}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,586}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{590,586}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
            <key>boss_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{596,570}}</string>
                <key>offset</key>
                <string>{-34,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,50},{596,570}}</string>
                <key>sourceSize</key>
                <string>{786,786}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_1_0.png</string>
            <key>size</key>
            <string>{1824,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e0b2714c48eaae66c333ec833fe7764$</string>
            <key>textureFileName</key>
            <string>boss_1_0.png</string>
        </dict>
    </dict>
</plist>
