<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,436}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{416,436}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,856},{388,428}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{388,428}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{378,426}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{378,426}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,816},{372,420}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{372,420}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,816},{372,420}}</string>
                <key>offset</key>
                <string>{-34,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{372,420}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,816},{372,420}}</string>
                <key>offset</key>
                <string>{-34,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{372,420}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{374,420}}</string>
                <key>offset</key>
                <string>{-33,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{374,420}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,424},{390,418}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{390,418}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{412,420}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{412,420}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{412,420}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{412,420}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{424,426}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{424,426}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,436}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{416,436}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{420,422}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{420,422}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,830},{396,438}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{396,438}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,830},{396,438}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{396,438}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,426},{402,434}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{402,434}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,426},{410,428}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{410,428}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{398,420}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{398,420}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{398,420}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{398,420}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,856},{388,428}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{388,428}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_1_0.png</string>
            <key>size</key>
            <string>{2048,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:749ed99430e7e5edf8999767fcad7e91$</string>
            <key>textureFileName</key>
            <string>left_1_0.png</string>
        </dict>
    </dict>
</plist>
