<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{412,424}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{412,424}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,424},{400,416}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,63},{400,416}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{420,416}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,63},{420,416}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,428}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,51},{420,428}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,420},{420,412}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,67},{420,412}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,834},{396,412}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,67},{396,412}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,826},{402,412}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,67},{402,412}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{420,412}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,67},{420,412}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,416},{406,412}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,67},{406,412}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,830},{402,412}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,66},{402,412}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
            <key>left_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{420,412}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,67},{420,412}}</string>
                <key>sourceSize</key>
                <string>{440,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_0_0.png</string>
            <key>size</key>
            <string>{1682,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d94527d89797d68cd18a040e981c44d$</string>
            <key>textureFileName</key>
            <string>left_0_0.png</string>
        </dict>
    </dict>
</plist>
