<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,374},{382,382}}</string>
                <key>offset</key>
                <string>{37,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,98},{382,382}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,730},{378,352}}</string>
                <key>offset</key>
                <string>{27,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,128},{378,352}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{384,360}}</string>
                <key>offset</key>
                <string>{24,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,120},{384,360}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{384,360}}</string>
                <key>offset</key>
                <string>{24,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,120},{384,360}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{394,354}}</string>
                <key>offset</key>
                <string>{19,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,126},{394,354}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{382,382}}</string>
                <key>offset</key>
                <string>{37,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,98},{382,382}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,384}}</string>
                <key>offset</key>
                <string>{43,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,96},{394,384}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,358},{370,390}}</string>
                <key>offset</key>
                <string>{31,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,90},{370,390}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{370,390}}</string>
                <key>offset</key>
                <string>{31,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,90},{370,390}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{366,376}}</string>
                <key>offset</key>
                <string>{33,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,104},{366,376}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,386},{370,358}}</string>
                <key>offset</key>
                <string>{31,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,122},{370,358}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,352},{372,348}}</string>
                <key>offset</key>
                <string>{30,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,132},{372,348}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{374,348}}</string>
                <key>offset</key>
                <string>{29,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,132},{374,348}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_2_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:342176bc7e6490e160b0c94d44a8548e$</string>
            <key>textureFileName</key>
            <string>right_2_0.png</string>
        </dict>
    </dict>
</plist>
