<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,386},{394,384}}</string>
                <key>offset</key>
                <string>{37,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,96},{394,384}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,772},{354,388}}</string>
                <key>offset</key>
                <string>{47,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,92},{354,388}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,784},{352,388}}</string>
                <key>offset</key>
                <string>{51,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,92},{352,388}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{344,388}}</string>
                <key>offset</key>
                <string>{52,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,92},{344,388}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,776},{362,388}}</string>
                <key>offset</key>
                <string>{46,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,92},{362,388}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,392},{382,384}}</string>
                <key>offset</key>
                <string>{37,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,96},{382,384}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,388},{392,384}}</string>
                <key>offset</key>
                <string>{38,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,96},{392,384}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{426,388}}</string>
                <key>offset</key>
                <string>{21,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,92},{426,388}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,394}}</string>
                <key>offset</key>
                <string>{21,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,86},{426,394}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,382},{412,400}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,80},{412,400}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{436,378}}</string>
                <key>offset</key>
                <string>{16,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,102},{436,378}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{424,382}}</string>
                <key>offset</key>
                <string>{22,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,98},{424,382}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{396,384}}</string>
                <key>offset</key>
                <string>{36,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,96},{396,384}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,776},{372,388}}</string>
                <key>offset</key>
                <string>{47,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,92},{372,388}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>right_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{360,388}}</string>
                <key>offset</key>
                <string>{54,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,92},{360,388}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_0_0.png</string>
            <key>size</key>
            <string>{2038,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88188e49772b189a9c8bdd301a14e5a3$</string>
            <key>textureFileName</key>
            <string>right_0_0.png</string>
        </dict>
    </dict>
</plist>
