<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a001.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,712},{329,176}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,7},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{329,176}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{329,174}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{329,174}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{329,174}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{329,174}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{331,174}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{331,174}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,174}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{329,174}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,534},{329,176}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,534},{329,176}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,6},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{329,176}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,356},{329,176}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,356},{329,176}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1258},{449,182}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{449,182}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{329,176}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,6},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,178},{329,176}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{447,182}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{447,182}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{447,182}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{447,182}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a005.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1074},{449,182}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{449,182}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a006.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,890},{447,182}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{447,182}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{449,182}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{449,182}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,178},{329,176}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{329,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
            <key>a009.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,712},{331,176}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,6},{331,176}}</string>
                <key>sourceSize</key>
                <string>{451,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wait.png</string>
            <key>size</key>
            <string>{997,1442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e0b6988c21a86eecf5d134564df4f4d$</string>
            <key>textureFileName</key>
            <string>wait.png</string>
        </dict>
    </dict>
</plist>
