<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WaterWave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1160},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave10.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1160},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,774},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave12.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,774},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave13.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1160},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,774},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,388},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave16.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,388},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,388},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave7.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave8.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>WaterWave9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>water.png</string>
            <key>size</key>
            <string>{1546,1547}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64cf97e23a15c7c2cf3eb492b35df77c$</string>
            <key>textureFileName</key>
            <string>water.png</string>
        </dict>
    </dict>
</plist>
