<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1684},{224,130}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,112},{224,130}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,966},{302,206}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,76},{302,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,304},{300,206}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,76},{300,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{300,206}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,73},{300,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,870},{300,206}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,77},{300,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{328,236}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,56},{328,236}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{358,278}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{358,278}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,332},{328,234}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,52},{328,234}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{358,278}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{358,278}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1382},{300,206}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,69},{300,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1684},{300,206}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{300,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,662},{302,206}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,76},{302,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1382},{300,206}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,78},{300,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1174},{300,206}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,78},{300,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,662},{300,206}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,77},{300,206}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{328,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,62},{328,234}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{358,278}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{328,234}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{328,234}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>net_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{348,278}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{348,278}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>net.png</string>
            <key>size</key>
            <string>{794,1910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0294534338e2567693f720ecbc67c5da$</string>
            <key>textureFileName</key>
            <string>net.png</string>
        </dict>
    </dict>
</plist>
