<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{222,222}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,98},{222,222}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,314},{336,242}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,98},{336,242}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,984},{340,248}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,93},{340,248}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1538},{334,258}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,83},{334,258}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{380,296}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,70},{380,296}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{384,300}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,68},{384,300}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{386,302}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{386,302}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{390,306}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,65},{390,306}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{392,308}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{392,308}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,310}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,63},{396,310}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
            <key>net0_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,652},{330,244}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,97},{330,244}}</string>
                <key>sourceSize</key>
                <string>{504,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>net0_1.png</string>
            <key>size</key>
            <string>{640,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8061edb46154a5fd3c60cdf3af63b36b$</string>
            <key>textureFileName</key>
            <string>net0_1.png</string>
        </dict>
    </dict>
</plist>
