<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{160,164}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,85},{160,164}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,260},{252,242}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{252,242}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{256,248}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,43},{256,248}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,504},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{246,246}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{296,296}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{296,296}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,316},{300,300}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{300,300}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,626},{302,302}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{302,302}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{306,306}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{306,306}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{308,308}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{308,308}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,310}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{312,310}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>net1_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,752},{246,244}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{246,244}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>net1_0.png</string>
            <key>size</key>
            <string>{1024,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:522a4b9c4982dd0a10c71caf91a68b6f$</string>
            <key>textureFileName</key>
            <string>net1_0.png</string>
        </dict>
    </dict>
</plist>
