<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>satMy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,447},{115,96}}</string>
                <key>offset</key>
                <string>{-15,-159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,318},{115,96}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,689},{611,324}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,90},{611,324}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1288},{583,296}}</string>
                <key>offset</key>
                <string>{20,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,118},{583,296}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{443,124}}</string>
                <key>offset</key>
                <string>{89,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,290},{443,124}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1598},{481,286}}</string>
                <key>offset</key>
                <string>{-21,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,128},{481,286}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1302},{569,294}}</string>
                <key>offset</key>
                <string>{13,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,120},{569,294}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{585,298}}</string>
                <key>offset</key>
                <string>{21,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,116},{585,298}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{597,302}}</string>
                <key>offset</key>
                <string>{17,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,112},{597,302}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{649,316}}</string>
                <key>offset</key>
                <string>{27,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,98},{649,316}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{681,328}}</string>
                <key>offset</key>
                <string>{22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,86},{681,328}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{697,332}}</string>
                <key>offset</key>
                <string>{20,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,82},{697,332}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
            <key>satMy_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{685,328}}</string>
                <key>offset</key>
                <string>{31,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,86},{685,328}}</string>
                <key>sourceSize</key>
                <string>{777,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>satMy.png</string>
            <key>size</key>
            <string>{1172,1886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:455b6a0a661fbcc88bf6637dec1575e0$</string>
            <key>textureFileName</key>
            <string>satMy.png</string>
        </dict>
    </dict>
</plist>
