<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_big1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1514},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1472},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1447},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1325},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1325},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1325},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1367},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1325},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1258},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1178},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1178},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1178},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1178},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1031},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1031},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1031},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1031},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,884},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,884},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,884},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,884},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,737},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,737},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,737},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,737},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,590},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,590},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,590},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,590},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,443},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,443},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,443},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,443},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,296},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,296},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,296},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,296},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,149},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,149},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,149},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,149},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>card_big_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1751},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1594},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1908},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1751},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1594},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1908},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1751},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1594},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1908},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1751},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1818},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1818},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1860},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1902},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1745},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1703},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1661},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1594},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1472},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1472},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1101},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,944},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,787},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,630},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,473},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,316},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,159},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>card_big_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_big.png</string>
            <key>size</key>
            <string>{1069,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c51d934abae66d2b4045c4b260eeb7d4$</string>
            <key>textureFileName</key>
            <string>card_big.png</string>
        </dict>
    </dict>
</plist>
