<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_liangpai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,404},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,404},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,404},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,404},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,404},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,402},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,268},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,268},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,135},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,135},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,268},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,269},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,135},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,136},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,404},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>card_liangpai_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,404},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,404},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
            <key>card_liangpai_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_sm.png</string>
            <key>size</key>
            <string>{1562,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1528cfefd006cd9df73a86b18e5f1adf$</string>
            <key>textureFileName</key>
            <string>card_sm.png</string>
        </dict>
    </dict>
</plist>
