<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bow0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{133,124}}</string>
                <key>offset</key>
                <string>{-57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{133,124}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{169,124}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{169,124}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{229,148}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{229,148}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,156}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{237,156}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{131,126}}</string>
                <key>offset</key>
                <string>{-60,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{131,126}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bow0_1.png</string>
            <key>size</key>
            <string>{160,897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a49b64e52e96d0c90ed5c8da6f51f82$</string>
            <key>textureFileName</key>
            <string>bow0_1.png</string>
        </dict>
    </dict>
</plist>
