<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bow0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{131,86}}</string>
                <key>offset</key>
                <string>{-58,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{131,86}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{167,86}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{167,86}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{227,100}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,45},{227,100}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,108}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{235,108}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{129,88}}</string>
                <key>offset</key>
                <string>{-62,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{129,88}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bow0_0.png</string>
            <key>size</key>
            <string>{901,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d04516d1e9499f5c5220154bf153ed3$</string>
            <key>textureFileName</key>
            <string>bow0_0.png</string>
        </dict>
    </dict>
</plist>
