<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bow2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{147,144}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{147,144}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{177,144}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{177,144}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{239,170}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{239,170}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,176}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{251,176}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{143,148}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{143,148}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bow2_2.png</string>
            <key>size</key>
            <string>{180,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e34b3d0bce1b6bdaf6388ee576be3e0f$</string>
            <key>textureFileName</key>
            <string>bow2_2.png</string>
        </dict>
    </dict>
</plist>
