<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BM.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,344},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,378},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,284},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,190},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,96},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,96},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,96},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>FK_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HTAO_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>HT_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>MH_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dapuke.png</string>
            <key>size</key>
            <string>{1314,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33596eb162002f8f8085b714bb5753d7$</string>
            <key>textureFileName</key>
            <string>dapuke.png</string>
        </dict>
    </dict>
</plist>
