<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{226,110}}</string>
                <key>offset</key>
                <string>{1,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{226,110}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,131},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,131},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,131},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,131},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,131},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{226,112}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{226,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,92},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,129},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,126},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,130},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,131},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,131},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,112}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,131},{228,112}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lost.png</string>
            <key>size</key>
            <string>{1608,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee2a190b3f71b8af3322c0732a087d9$</string>
            <key>textureFileName</key>
            <string>lost.png</string>
        </dict>
    </dict>
</plist>
