<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pairs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,133}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{239,133}}</string>
                <key>sourceSize</key>
                <string>{239,141}</string>
            </dict>
            <key>pairs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,141}}</string>
                <key>sourceSize</key>
                <string>{239,141}</string>
            </dict>
            <key>pairs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{163,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{163,83}}</string>
                <key>sourceSize</key>
                <string>{239,141}</string>
            </dict>
            <key>pairs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{193,109}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{193,109}}</string>
                <key>sourceSize</key>
                <string>{239,141}</string>
            </dict>
            <key>pairs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,137},{215,123}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{215,123}}</string>
                <key>sourceSize</key>
                <string>{239,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pairs.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8068808b31d60b99ba7ffc3fbaa1a7fb$</string>
            <key>textureFileName</key>
            <string>pairs.png</string>
        </dict>
    </dict>
</plist>
