<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>twopairs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{213,122}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{213,122}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>twopairs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,142}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>twopairs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{157,88}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{157,88}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>twopairs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{183,104}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{183,104}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>twopairs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,126},{207,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{207,114}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>twopairs.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c94c4d2d2647f10d1129ace1f2a0a0cf$</string>
            <key>textureFileName</key>
            <string>twopairs.png</string>
        </dict>
    </dict>
</plist>
