<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,222}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,80},{438,222}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{268,238}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,67},{268,238}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{270,240}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{270,240}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{270,238}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,67},{270,238}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{270,238}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,67},{270,238}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,428},{268,236}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{268,236}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{386,200}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,89},{386,200}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1636},{282,146}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,117},{282,146}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{214,182}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,99},{214,182}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,966},{226,198}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,89},{226,198}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1420},{242,214}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,81},{242,214}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1166},{252,224}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,76},{252,224}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{260,232}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,71},{260,232}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
            <key>WIN009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,698},{266,236}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,68},{266,236}}</string>
                <key>sourceSize</key>
                <string>{464,382}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win.png</string>
            <key>size</key>
            <string>{512,1808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:347e24b4307fb0c20f5934267fe7dbac$</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
