<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SBM.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,442},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,370},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,314},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,282},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,282},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,386},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,314},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,242},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,226},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,226},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,226},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,170},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SFK_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,170},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,170},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,170},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,386},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,314},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,242},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,170},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,114},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,114},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,114},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,114},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,402},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,330},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHTAO_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,258},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,186},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,58},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,58},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,58},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,58},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,58},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,418},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,346},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,274},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,202},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,130},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SHT_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,58},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>SMH_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaopuke.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b945d694764842ce1bcb592371742be0$</string>
            <key>textureFileName</key>
            <string>xiaopuke.png</string>
        </dict>
    </dict>
</plist>
