<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bow1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{133,144}}</string>
                <key>offset</key>
                <string>{-57,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{133,144}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,176},{165,144}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{165,144}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{227,172}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{227,172}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,178}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{241,178}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
            <key>bow1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,182},{129,148}}</string>
                <key>offset</key>
                <string>{-61,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{129,148}}</string>
                <key>sourceSize</key>
                <string>{261,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bow1_2.png</string>
            <key>size</key>
            <string>{474,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89d44ebbb59f031cc9e781a31526edfb$</string>
            <key>textureFileName</key>
            <string>bow1_2.png</string>
        </dict>
    </dict>
</plist>
