<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,113},{329,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,109}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{329,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,109}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
            <key>kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{327,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{327,107}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
            <key>kuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{327,107}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
            <key>kuang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,111},{327,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{327,109}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
            <key>kuang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,111},{327,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{327,109}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
            <key>kuang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{329,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,107}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
            <key>kuang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{329,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,109}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>integralColumn.png</string>
            <key>size</key>
            <string>{1322,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e65c74ebc38500755f781257123b51a0$</string>
            <key>textureFileName</key>
            <string>integralColumn.png</string>
        </dict>
    </dict>
</plist>
