<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huakuai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{136,195}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,195}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{136,195}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,195}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{136,195}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,195}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{136,195}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,195}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{136,197}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,197}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{136,197}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,197}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{136,197}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,197}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{136,197}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,197}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,197}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,197}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>huakuai9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,197}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huakuai.png</string>
            <key>size</key>
            <string>{1388,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5261b4d94a48c131feceeea3f94ab7f5$</string>
            <key>textureFileName</key>
            <string>huakuai.png</string>
        </dict>
    </dict>
</plist>
