<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,182},{225,104}}</string>
                <key>offset</key>
                <string>{14,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,50},{225,104}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{523,140}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,150},{523,140}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{533,142}}</string>
                <key>offset</key>
                <string>{10,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,140},{533,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{543,140}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,131},{543,140}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{543,142}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,135},{543,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,288},{227,198}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,63},{227,198}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,142}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,141},{545,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{229,178}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,84},{229,178}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,288},{411,178}}</string>
                <key>offset</key>
                <string>{10,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,114},{411,178}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{449,124}}</string>
                <key>offset</key>
                <string>{12,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,141},{449,124}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,288},{493,166}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,96},{493,166}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,144},{517,142}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,120},{517,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
            <key>Fail_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,144},{521,142}}</string>
                <key>offset</key>
                <string>{10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,142},{521,142}}</string>
                <key>sourceSize</key>
                <string>{635,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fail.png</string>
            <key>size</key>
            <string>{1976,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e111c374db62c9e6746a70c0afad66c0$</string>
            <key>textureFileName</key>
            <string>Fail.png</string>
        </dict>
    </dict>
</plist>
