<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,425},{590,273}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,92},{590,273}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{510,385}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,25},{510,385}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1435},{520,375}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,30},{520,375}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{524,367}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{524,367}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,405},{534,359}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,37},{534,359}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,389},{534,349}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,43},{534,349}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1017},{534,341}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,47},{534,341}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,941},{534,331}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,52},{534,331}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,925},{534,321}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,57},{534,321}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1553},{534,313}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{534,313}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,925},{534,307}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{534,307}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1461},{540,247}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,105},{540,247}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,371},{534,307}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,61},{534,307}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,925},{534,307}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,61},{534,307}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,389},{534,307}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,61},{534,307}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1710},{458,209}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,125},{458,209}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1461},{412,163}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,148},{412,163}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1477},{448,151}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,142},{448,151}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,421}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,7},{496,421}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{500,411}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,12},{500,411}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{504,401}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,17},{504,401}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
            <key>Win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{506,393}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,21},{506,393}}</string>
                <key>sourceSize</key>
                <string>{652,437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Win.png</string>
            <key>size</key>
            <string>{2044,1957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5560bd0fcf138a75e01f4d699216ae28$</string>
            <key>textureFileName</key>
            <string>Win.png</string>
        </dict>
    </dict>
</plist>
