<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1664},{693,330}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{693,330}}</string>
                <key>sourceSize</key>
                <string>{717,426}</string>
            </dict>
            <key>fish_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{702,330}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{702,330}}</string>
                <key>sourceSize</key>
                <string>{716,426}</string>
            </dict>
            <key>fish_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{703,332}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{703,332}}</string>
                <key>sourceSize</key>
                <string>{717,426}</string>
            </dict>
            <key>fish_18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1000},{699,331}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,47},{699,331}}</string>
                <key>sourceSize</key>
                <string>{717,425}</string>
            </dict>
            <key>fish_18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1331},{694,331}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{694,331}}</string>
                <key>sourceSize</key>
                <string>{716,425}</string>
            </dict>
            <key>fish_18_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1000},{697,329}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{697,329}}</string>
                <key>sourceSize</key>
                <string>{717,425}</string>
            </dict>
            <key>fish_18_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{701,330}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{701,330}}</string>
                <key>sourceSize</key>
                <string>{717,426}</string>
            </dict>
            <key>fish_18_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{702,332}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{702,332}}</string>
                <key>sourceSize</key>
                <string>{716,426}</string>
            </dict>
            <key>fish_18_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{701,328}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,38},{701,328}}</string>
                <key>sourceSize</key>
                <string>{717,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_18.png</string>
            <key>size</key>
            <string>{1365,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd927884d8e55e2815b864ea16c6345$</string>
            <key>textureFileName</key>
            <string>fish_18.png</string>
        </dict>
    </dict>
</plist>
