<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{145,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,2},{147,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,99}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{145,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,100}}</string>
                <key>sourceSize</key>
                <string>{147,100}</string>
            </dict>
            <key>fish_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{145,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{145,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{143,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{143,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{143,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{143,100}}</string>
                <key>sourceSize</key>
                <string>{147,100}</string>
            </dict>
            <key>fish_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{145,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{147,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,98}}</string>
                <key>sourceSize</key>
                <string>{147,100}</string>
            </dict>
            <key>fish_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>fish_6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{147,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,99}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_6.png</string>
            <key>size</key>
            <string>{1921,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb235b9c9215a7234245c41a97d50200$</string>
            <key>textureFileName</key>
            <string>fish_6.png</string>
        </dict>
    </dict>
</plist>
