<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1590},{389,132}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{389,132}}</string>
                <key>sourceSize</key>
                <string>{399,134}</string>
            </dict>
            <key>fish_14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1197},{391,130}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{391,130}}</string>
                <key>sourceSize</key>
                <string>{399,134}</string>
            </dict>
            <key>fish_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,131}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{387,131}}</string>
                <key>sourceSize</key>
                <string>{399,135}</string>
            </dict>
            <key>fish_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{387,126}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{387,126}}</string>
                <key>sourceSize</key>
                <string>{399,134}</string>
            </dict>
            <key>fish_14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,403},{395,125}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{395,125}}</string>
                <key>sourceSize</key>
                <string>{399,135}</string>
            </dict>
            <key>fish_14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1177},{397,122}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{397,122}}</string>
                <key>sourceSize</key>
                <string>{399,134}</string>
            </dict>
            <key>fish_14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{399,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{399,120}}</string>
                <key>sourceSize</key>
                <string>{399,134}</string>
            </dict>
            <key>fish_14_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1576},{399,119}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{399,119}}</string>
                <key>sourceSize</key>
                <string>{399,135}</string>
            </dict>
            <key>fish_14_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{395,124}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{395,124}}</string>
                <key>sourceSize</key>
                <string>{399,134}</string>
            </dict>
            <key>fish_14_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,800},{395,127}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{395,127}}</string>
                <key>sourceSize</key>
                <string>{399,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_14.png</string>
            <key>size</key>
            <string>{258,1981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4ec704c3451c85f17d3035b5387d945$</string>
            <key>textureFileName</key>
            <string>fish_14.png</string>
        </dict>
    </dict>
</plist>
