<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,117}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{308,117}}</string>
                <key>sourceSize</key>
                <string>{308,129}</string>
            </dict>
            <key>fishD_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{288,112}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{288,112}}</string>
                <key>sourceSize</key>
                <string>{308,128}</string>
            </dict>
            <key>fishD_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{276,109}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{276,109}}</string>
                <key>sourceSize</key>
                <string>{308,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_13.png</string>
            <key>size</key>
            <string>{880,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5733bcb92b640f65ae5f792d7bbc1eb0$</string>
            <key>textureFileName</key>
            <string>fishD_13.png</string>
        </dict>
    </dict>
</plist>
