<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{52,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>fish_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_2.png</string>
            <key>size</key>
            <string>{776,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:951a394724fd361f53bebc29e5676ec2$</string>
            <key>textureFileName</key>
            <string>fish_2.png</string>
        </dict>
    </dict>
</plist>
