<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,790},{416,196}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{416,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,200},{420,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,622},{416,196}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{416,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,622},{416,196}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{416,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{416,196}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{416,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,200},{420,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,200},{420,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{420,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{420,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,594},{420,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{420,194}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,398},{420,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{420,194}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
            <key>fish_16_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,196}}</string>
                <key>sourceSize</key>
                <string>{420,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_16.png</string>
            <key>size</key>
            <string>{1018,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32b7a91d25aa5f4de0b46504d1bcc07d$</string>
            <key>textureFileName</key>
            <string>fish_16.png</string>
        </dict>
    </dict>
</plist>
