<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{67,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,26}}</string>
                <key>sourceSize</key>
                <string>{67,32}</string>
            </dict>
            <key>fishD_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,28}}</string>
                <key>sourceSize</key>
                <string>{67,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_1.png</string>
            <key>size</key>
            <string>{141,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15a80a6cf27effc0b444c6fb85b3909c$</string>
            <key>textureFileName</key>
            <string>fishD_1.png</string>
        </dict>
    </dict>
</plist>
