<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,2},{177,98}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{177,98}}</string>
                <key>sourceSize</key>
                <string>{185,104}</string>
            </dict>
            <key>fish_8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{177,98}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{177,98}}</string>
                <key>sourceSize</key>
                <string>{185,104}</string>
            </dict>
            <key>fish_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{175,101}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{175,101}}</string>
                <key>sourceSize</key>
                <string>{185,103}</string>
            </dict>
            <key>fish_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{177,102}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{177,102}}</string>
                <key>sourceSize</key>
                <string>{185,104}</string>
            </dict>
            <key>fish_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{181,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{181,103}}</string>
                <key>sourceSize</key>
                <string>{185,103}</string>
            </dict>
            <key>fish_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{185,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{185,102}}</string>
                <key>sourceSize</key>
                <string>{185,104}</string>
            </dict>
            <key>fish_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{185,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{185,102}}</string>
                <key>sourceSize</key>
                <string>{185,104}</string>
            </dict>
            <key>fish_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,103}}</string>
                <key>sourceSize</key>
                <string>{185,103}</string>
            </dict>
            <key>fish_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{183,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{183,102}}</string>
                <key>sourceSize</key>
                <string>{185,104}</string>
            </dict>
            <key>fish_8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,2},{181,99}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{181,99}}</string>
                <key>sourceSize</key>
                <string>{185,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_8.png</string>
            <key>size</key>
            <string>{1828,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65c7dd14288449288ce10342d33cc2d9$</string>
            <key>textureFileName</key>
            <string>fish_8.png</string>
        </dict>
    </dict>
</plist>
