<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{306,117}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,123},{306,91}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{306,91}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,113},{306,85}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{306,85}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{306,109}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{306,109}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{304,119}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{304,119}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{296,118}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{296,118}}</string>
                <key>sourceSize</key>
                <string>{308,124}</string>
            </dict>
            <key>fish_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{288,111}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{288,111}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{282,101}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{282,101}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,105},{282,97}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{282,97}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,115},{286,99}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{286,99}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,122},{296,99}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{296,99}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>fish_13_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{304,98}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{304,98}}</string>
                <key>sourceSize</key>
                <string>{308,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_13.png</string>
            <key>size</key>
            <string>{1796,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01cf6ef133897f4e51a1a5c432fb3421$</string>
            <key>textureFileName</key>
            <string>fish_13.png</string>
        </dict>
    </dict>
</plist>
