<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{704,448}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{704,448}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,448},{704,444}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{704,444}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{710,448}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{710,448}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{714,444}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{714,444}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,444}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{718,444}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1154},{704,434}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{704,434}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1330},{704,434}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{704,434}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1330},{704,434}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{704,434}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,894},{704,434}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{704,434}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
            <key>fish_25_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,448},{704,438}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{704,438}}</string>
                <key>sourceSize</key>
                <string>{770,462}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_25.png</string>
            <key>size</key>
            <string>{1760,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc49be4230a0457ee1c66a67d6d6ca9$</string>
            <key>textureFileName</key>
            <string>fish_25.png</string>
        </dict>
    </dict>
</plist>
