<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{201,211}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{201,211}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
            <key>fishD_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,222}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{217,222}}</string>
                <key>sourceSize</key>
                <string>{221,222}</string>
            </dict>
            <key>fishD_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,221}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{217,221}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_12.png</string>
            <key>size</key>
            <string>{643,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feb3f4499a1a03ce44f10a7360904aa5$</string>
            <key>textureFileName</key>
            <string>fishD_12.png</string>
        </dict>
    </dict>
</plist>
