<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{133,75}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{133,75}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
            <key>fishD_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,82}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,82}}</string>
                <key>sourceSize</key>
                <string>{147,86}</string>
            </dict>
            <key>fishD_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{127,81}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{127,81}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_4.png</string>
            <key>size</key>
            <string>{409,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa33585e1f0d62f65d7d6e251d9bfc23$</string>
            <key>textureFileName</key>
            <string>fishD_4.png</string>
        </dict>
    </dict>
</plist>
