<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{166,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{166,71}}</string>
                <key>sourceSize</key>
                <string>{168,79}</string>
            </dict>
            <key>fish_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{166,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{166,70}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{168,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,674},{162,74}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{162,74}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{158,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{158,78}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,838},{160,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{160,79}}</string>
                <key>sourceSize</key>
                <string>{168,79}</string>
            </dict>
            <key>fish_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{162,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,78}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,508},{164,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{164,72}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,172},{168,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{168,70}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{168,70}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{166,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{166,71}}</string>
                <key>sourceSize</key>
                <string>{168,79}</string>
            </dict>
            <key>fish_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{166,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{166,70}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,342},{164,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{164,72}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{164,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{164,70}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{166,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{166,70}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>fish_7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{166,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{166,70}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_7.png</string>
            <key>size</key>
            <string>{244,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d043ddc909b339953f2b03932cb5d3ff$</string>
            <key>textureFileName</key>
            <string>fish_7.png</string>
        </dict>
    </dict>
</plist>
