<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,431},{286,134}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{286,134}}</string>
                <key>sourceSize</key>
                <string>{288,156}</string>
            </dict>
            <key>fish_23_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,722},{284,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{284,137}}</string>
                <key>sourceSize</key>
                <string>{288,155}</string>
            </dict>
            <key>fish_23_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{285,147}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{285,147}}</string>
                <key>sourceSize</key>
                <string>{289,155}</string>
            </dict>
            <key>fish_23_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{286,147}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{286,147}}</string>
                <key>sourceSize</key>
                <string>{288,155}</string>
            </dict>
            <key>fish_23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,156}}</string>
                <key>sourceSize</key>
                <string>{289,156}</string>
            </dict>
            <key>fish_23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,473},{286,138}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{286,138}}</string>
                <key>sourceSize</key>
                <string>{288,156}</string>
            </dict>
            <key>fish_23_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{284,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{284,154}}</string>
                <key>sourceSize</key>
                <string>{288,156}</string>
            </dict>
            <key>fish_23_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,431},{289,140}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{289,140}}</string>
                <key>sourceSize</key>
                <string>{289,156}</string>
            </dict>
            <key>fish_23_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,289},{280,140}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{280,140}}</string>
                <key>sourceSize</key>
                <string>{288,156}</string>
            </dict>
            <key>fish_23_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{280,153}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,153}}</string>
                <key>sourceSize</key>
                <string>{288,155}</string>
            </dict>
            <key>fish_23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,722},{289,139}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{289,139}}</string>
                <key>sourceSize</key>
                <string>{289,155}</string>
            </dict>
            <key>fish_23_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{284,155}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,155}}</string>
                <key>sourceSize</key>
                <string>{288,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_23.png</string>
            <key>size</key>
            <string>{571,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bc498b6dbc3890da0f96571c7b22ff5$</string>
            <key>textureFileName</key>
            <string>fish_23.png</string>
        </dict>
    </dict>
</plist>
