<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1446},{296,282}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,40},{296,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1676},{256,254}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,59},{256,254}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1148},{256,266}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,59},{256,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1708},{256,264}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,59},{256,264}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{224,314}}</string>
                <key>offset</key>
                <string>{-55,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{224,314}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,318},{216,302}}</string>
                <key>offset</key>
                <string>{-58,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,46},{216,302}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1148},{268,276}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,72},{268,276}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1744},{226,314}}</string>
                <key>offset</key>
                <string>{41,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,20},{226,314}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,622},{196,312}}</string>
                <key>offset</key>
                <string>{49,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,14},{196,312}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1664},{240,230}}</string>
                <key>offset</key>
                <string>{-29,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{240,230}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1148},{256,284}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,48},{256,284}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{296,290}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,41},{296,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1434},{256,272}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,55},{256,272}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1148},{256,256}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,59},{256,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1406},{256,250}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,60},{256,250}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1416},{256,258}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,59},{256,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>fishD_22_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{296,286}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{296,286}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_22.png</string>
            <key>size</key>
            <string>{1374,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cbda67347f8fc9416d3d578449cd90f$</string>
            <key>textureFileName</key>
            <string>fishD_22.png</string>
        </dict>
    </dict>
</plist>
