<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_27_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,510},{478,171}}</string>
                <key>offset</key>
                <string>{38,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,60},{478,171}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,237},{546,181}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,47},{546,181}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1331},{550,173}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,48},{550,173}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,744},{552,169}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,49},{552,169}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1883},{542,163}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,50},{542,163}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1837},{530,161}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{530,161}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,506},{508,153}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,51},{508,153}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{502,161}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,43},{502,161}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,2},{506,168}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{506,168}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1489},{520,180}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{520,180}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1112},{532,182}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{532,182}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,990},{488,177}}</string>
                <key>offset</key>
                <string>{33,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,58},{488,177}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,237},{548,182}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{548,182}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1331},{550,183}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{550,183}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,198},{544,179}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,29},{544,179}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,787},{542,179}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,29},{542,179}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,198},{544,175}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,33},{544,175}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,198},{544,174}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,34},{544,174}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,787},{542,168}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,40},{542,168}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1671},{534,164}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{534,164}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1480},{500,154}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,52},{500,154}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1490},{480,153}}</string>
                <key>offset</key>
                <string>{38,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{480,153}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1296},{510,191}}</string>
                <key>offset</key>
                <string>{21,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{510,191}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1016},{472,167}}</string>
                <key>offset</key>
                <string>{42,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,58},{472,167}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,915},{522,195}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{522,195}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
            <key>fish_27_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{542,198}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,52},{542,198}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{548,200}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,50},{548,200}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{552,194}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{552,194}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{550,190}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,47},{550,190}}</string>
                <key>sourceSize</key>
                <string>{560,250}</string>
            </dict>
            <key>fish_27_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,233}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{546,233}}</string>
                <key>sourceSize</key>
                <string>{560,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_27.png</string>
            <key>size</key>
            <string>{1453,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc68d22fe9438a859a11d2213402e4a6$</string>
            <key>textureFileName</key>
            <string>fish_27.png</string>
        </dict>
    </dict>
</plist>
