<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1545},{232,501}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{232,501}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,513},{228,503}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{228,503}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1028},{236,507}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{236,507}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{229,511}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{229,511}}</string>
                <key>sourceSize</key>
                <string>{247,539}</string>
            </dict>
            <key>fish_22_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{234,513}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{234,513}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,517},{235,509}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{235,509}}</string>
                <key>sourceSize</key>
                <string>{247,539}</string>
            </dict>
            <key>fish_22_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,505},{236,497}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{236,497}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1004},{234,487}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{234,487}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{229,477}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{229,477}}</string>
                <key>sourceSize</key>
                <string>{247,539}</string>
            </dict>
            <key>fish_22_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1493},{228,473}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{228,473}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,493},{229,477}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{229,477}}</string>
                <key>sourceSize</key>
                <string>{247,539}</string>
            </dict>
            <key>fish_22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1034},{237,509}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{237,509}}</string>
                <key>sourceSize</key>
                <string>{247,539}</string>
            </dict>
            <key>fish_22_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{236,489}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{236,489}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{236,513}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{236,513}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,515}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{231,515}}</string>
                <key>sourceSize</key>
                <string>{247,539}</string>
            </dict>
            <key>fish_22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{232,509}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{232,509}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1537},{228,505}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{228,505}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1547},{227,499}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{227,499}}</string>
                <key>sourceSize</key>
                <string>{247,539}</string>
            </dict>
            <key>fish_22_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1547},{226,499}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{226,499}}</string>
                <key>sourceSize</key>
                <string>{246,539}</string>
            </dict>
            <key>fish_22_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{225,501}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{225,501}}</string>
                <key>sourceSize</key>
                <string>{247,539}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_22.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:451ea4029c2097dade0cdb8ee164d2a9$</string>
            <key>textureFileName</key>
            <string>fish_22.png</string>
        </dict>
    </dict>
</plist>
