<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,200}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{394,200}}</string>
                <key>sourceSize</key>
                <string>{420,202}</string>
            </dict>
            <key>fishD_17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{420,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{420,197}}</string>
                <key>sourceSize</key>
                <string>{420,201}</string>
            </dict>
            <key>fishD_17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{406,194}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{406,194}}</string>
                <key>sourceSize</key>
                <string>{420,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_17.png</string>
            <key>size</key>
            <string>{1228,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e64433b71d77fa07f7caa14ac12543b1$</string>
            <key>textureFileName</key>
            <string>fishD_17.png</string>
        </dict>
    </dict>
</plist>
