<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_27_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1736},{244,282}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,56},{244,282}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,746},{312,338}}</string>
                <key>offset</key>
                <string>{46,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,99},{312,338}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{346,336}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,96},{346,336}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{380,316}}</string>
                <key>offset</key>
                <string>{24,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,98},{380,316}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{404,306}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,102},{404,306}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{404,318}}</string>
                <key>offset</key>
                <string>{19,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,107},{404,318}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,336}}</string>
                <key>offset</key>
                <string>{26,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,112},{392,336}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{364,324}}</string>
                <key>offset</key>
                <string>{36,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,124},{364,324}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1086},{326,320}}</string>
                <key>offset</key>
                <string>{46,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,128},{326,320}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1414},{304,320}}</string>
                <key>offset</key>
                <string>{49,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,128},{304,320}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1060},{294,320}}</string>
                <key>offset</key>
                <string>{54,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,128},{294,320}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,310},{230,344}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,20},{230,344}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,340},{220,386}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,12},{220,386}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{212,414}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,8},{212,414}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1842},{202,400}}</string>
                <key>offset</key>
                <string>{37,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,15},{202,400}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,418},{218,348}}</string>
                <key>offset</key>
                <string>{47,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,38},{218,348}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1414},{244,320}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,64},{244,320}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1736},{266,324}}</string>
                <key>offset</key>
                <string>{48,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,82},{266,324}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
            <key>fishD_27_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,768},{290,332}}</string>
                <key>offset</key>
                <string>{49,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,97},{290,332}}</string>
                <key>sourceSize</key>
                <string>{490,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_27.png</string>
            <key>size</key>
            <string>{1016,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e76c48de73e1ec4667e558aa5964c1$</string>
            <key>textureFileName</key>
            <string>fishD_27.png</string>
        </dict>
    </dict>
</plist>
