<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,990},{912,314}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{912,314}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1306},{880,322}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{880,322}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{912,314}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{912,314}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,670},{912,318}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{912,318}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{912,312}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{912,312}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{912,314}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{912,314}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1630},{880,316}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{880,316}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,342},{912,326}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{912,326}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{912,338}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{912,338}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{880,342}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{880,342}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{912,338}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{912,338}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
            <key>fish_21_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{912,328}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{912,328}}</string>
                <key>sourceSize</key>
                <string>{912,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_21.png</string>
            <key>size</key>
            <string>{1830,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b719517fb731fe7ca20471816141170$</string>
            <key>textureFileName</key>
            <string>fish_21.png</string>
        </dict>
    </dict>
</plist>
