<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,330},{289,274}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{289,274}}</string>
                <key>sourceSize</key>
                <string>{325,336}</string>
            </dict>
            <key>fish_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{293,276}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{293,276}}</string>
                <key>sourceSize</key>
                <string>{325,336}</string>
            </dict>
            <key>fish_19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{288,292}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{288,292}}</string>
                <key>sourceSize</key>
                <string>{324,336}</string>
            </dict>
            <key>fish_19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{291,292}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{291,292}}</string>
                <key>sourceSize</key>
                <string>{325,336}</string>
            </dict>
            <key>fish_19_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,621},{281,280}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{281,280}}</string>
                <key>sourceSize</key>
                <string>{325,336}</string>
            </dict>
            <key>fish_19_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,624},{287,280}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{287,280}}</string>
                <key>sourceSize</key>
                <string>{325,336}</string>
            </dict>
            <key>fish_19_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,296},{280,278}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{280,278}}</string>
                <key>sourceSize</key>
                <string>{324,336}</string>
            </dict>
            <key>fish_19_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,326}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{325,326}}</string>
                <key>sourceSize</key>
                <string>{325,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_19.png</string>
            <key>size</key>
            <string>{851,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a823e8d8425ad34d42bec3445d86e3f$</string>
            <key>textureFileName</key>
            <string>fish_19.png</string>
        </dict>
    </dict>
</plist>
