<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{185,141}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{185,141}}</string>
                <key>sourceSize</key>
                <string>{189,203}</string>
            </dict>
            <key>fish_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{181,157}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{181,157}}</string>
                <key>sourceSize</key>
                <string>{189,203}</string>
            </dict>
            <key>fish_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{181,197}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{181,197}}</string>
                <key>sourceSize</key>
                <string>{189,203}</string>
            </dict>
            <key>fish_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,203}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{181,203}}</string>
                <key>sourceSize</key>
                <string>{189,203}</string>
            </dict>
            <key>fish_10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{181,198}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{181,198}}</string>
                <key>sourceSize</key>
                <string>{189,202}</string>
            </dict>
            <key>fish_10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{189,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{189,178}}</string>
                <key>sourceSize</key>
                <string>{189,204}</string>
            </dict>
            <key>fish_10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{189,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{189,169}}</string>
                <key>sourceSize</key>
                <string>{189,203}</string>
            </dict>
            <key>fish_10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1147},{185,145}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{185,145}}</string>
                <key>sourceSize</key>
                <string>{189,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_10.png</string>
            <key>size</key>
            <string>{185,1521}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05a654195f1344c388040b6966306a19$</string>
            <key>textureFileName</key>
            <string>fish_10.png</string>
        </dict>
    </dict>
</plist>
