<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{177,93}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{177,93}}</string>
                <key>sourceSize</key>
                <string>{185,99}</string>
            </dict>
            <key>fishD_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{183,100}}</string>
                <key>sourceSize</key>
                <string>{185,100}</string>
            </dict>
            <key>fishD_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{185,93}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,93}}</string>
                <key>sourceSize</key>
                <string>{185,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_8.png</string>
            <key>size</key>
            <string>{553,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a1e4a8871b151b3dafe9c587284a674$</string>
            <key>textureFileName</key>
            <string>fishD_8.png</string>
        </dict>
    </dict>
</plist>
