<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{48,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>fishD_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>fishD_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_2.png</string>
            <key>size</key>
            <string>{169,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb03259887338a618bcc7ae01a541ae$</string>
            <key>textureFileName</key>
            <string>fishD_2.png</string>
        </dict>
    </dict>
</plist>
