<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{351,142}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{351,142}}</string>
                <key>sourceSize</key>
                <string>{399,160}</string>
            </dict>
            <key>fishD_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{393,115}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{393,115}}</string>
                <key>sourceSize</key>
                <string>{399,159}</string>
            </dict>
            <key>fishD_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{389,142}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{389,142}}</string>
                <key>sourceSize</key>
                <string>{399,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_14.png</string>
            <key>size</key>
            <string>{397,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e75aa6f095ef3544363cd7fe1fb58c4$</string>
            <key>textureFileName</key>
            <string>fishD_14.png</string>
        </dict>
    </dict>
</plist>
