<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1089},{179,163}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{179,163}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>fish_24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{179,163}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{179,163}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>fish_24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{179,163}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{179,163}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>fish_24_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{180,163}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{180,163}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>fish_24_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{179,163}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{179,163}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>fish_24_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{179,165}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{179,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>fish_24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,165}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{179,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_24.png</string>
            <key>size</key>
            <string>{169,1270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f92adc05b2bf44eb909a215dc01f03c$</string>
            <key>textureFileName</key>
            <string>fish_24.png</string>
        </dict>
    </dict>
</plist>
