<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{260,118}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{260,118}}</string>
                <key>sourceSize</key>
                <string>{266,118}</string>
            </dict>
            <key>fish_11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,122},{264,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{264,102}}</string>
                <key>sourceSize</key>
                <string>{266,118}</string>
            </dict>
            <key>fish_11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{264,109}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{264,109}}</string>
                <key>sourceSize</key>
                <string>{266,117}</string>
            </dict>
            <key>fish_11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{262,118}}</string>
                <key>sourceSize</key>
                <string>{266,118}</string>
            </dict>
            <key>fish_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{260,115}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{260,115}}</string>
                <key>sourceSize</key>
                <string>{266,117}</string>
            </dict>
            <key>fish_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{260,118}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{260,118}}</string>
                <key>sourceSize</key>
                <string>{266,118}</string>
            </dict>
            <key>fish_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,119},{260,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{260,111}}</string>
                <key>sourceSize</key>
                <string>{266,117}</string>
            </dict>
            <key>fish_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,122},{260,100}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{260,100}}</string>
                <key>sourceSize</key>
                <string>{266,118}</string>
            </dict>
            <key>fish_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,101},{260,94}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{260,94}}</string>
                <key>sourceSize</key>
                <string>{266,118}</string>
            </dict>
            <key>fish_11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,98},{262,91}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{262,91}}</string>
                <key>sourceSize</key>
                <string>{266,117}</string>
            </dict>
            <key>fish_11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{266,94}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{266,94}}</string>
                <key>sourceSize</key>
                <string>{266,118}</string>
            </dict>
            <key>fish_11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{266,97}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{266,97}}</string>
                <key>sourceSize</key>
                <string>{266,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_11.png</string>
            <key>size</key>
            <string>{1588,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d7aa07196f55e52d78e14bc08717943$</string>
            <key>textureFileName</key>
            <string>fish_11.png</string>
        </dict>
    </dict>
</plist>
