<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_26_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,271},{472,185}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,199},{472,185}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{516,314}}</string>
                <key>offset</key>
                <string>{14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,108},{516,314}}</string>
                <key>sourceSize</key>
                <string>{560,576}</string>
            </dict>
            <key>fish_26_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{528,344}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,83},{528,344}}</string>
                <key>sourceSize</key>
                <string>{560,576}</string>
            </dict>
            <key>fish_26_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{526,364}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{526,364}}</string>
                <key>sourceSize</key>
                <string>{560,576}</string>
            </dict>
            <key>fish_26_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{506,345}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,91},{506,345}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,850},{488,295}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,130},{488,295}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,458},{478,243}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,165},{478,243}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,458},{478,243}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,165},{478,243}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,703},{468,145}}</string>
                <key>offset</key>
                <string>{28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,222},{468,145}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1439},{464,155}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,219},{464,155}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1439},{452,171}}</string>
                <key>offset</key>
                <string>{36,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,212},{452,171}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1439},{440,189}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,202},{440,189}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1439},{438,215}}</string>
                <key>offset</key>
                <string>{49,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,186},{438,215}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1439},{454,241}}</string>
                <key>offset</key>
                <string>{47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,167},{454,241}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{474,267}}</string>
                <key>offset</key>
                <string>{39,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,146},{474,267}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fish_26_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1147},{496,290}}</string>
                <key>offset</key>
                <string>{28,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,129},{496,290}}</string>
                <key>sourceSize</key>
                <string>{560,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_26.png</string>
            <key>size</key>
            <string>{1010,1905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54463b3c28e3d7fd7694a528a90ae07$</string>
            <key>textureFileName</key>
            <string>fish_26.png</string>
        </dict>
    </dict>
</plist>
