<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,202}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{378,202}}</string>
                <key>sourceSize</key>
                <string>{420,202}</string>
            </dict>
            <key>fishD_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{404,193}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{404,193}}</string>
                <key>sourceSize</key>
                <string>{420,201}</string>
            </dict>
            <key>fishD_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{384,194}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{384,194}}</string>
                <key>sourceSize</key>
                <string>{420,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_16.png</string>
            <key>size</key>
            <string>{1174,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb5d1fbe373a38cc331888f1fb4a40bc$</string>
            <key>textureFileName</key>
            <string>fishD_16.png</string>
        </dict>
    </dict>
</plist>
