<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{262,345}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{262,345}}</string>
                <key>sourceSize</key>
                <string>{294,353}</string>
            </dict>
            <key>fishD_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,348}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{286,348}}</string>
                <key>sourceSize</key>
                <string>{294,352}</string>
            </dict>
            <key>fishD_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{288,347}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{288,347}}</string>
                <key>sourceSize</key>
                <string>{294,353}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_15.png</string>
            <key>size</key>
            <string>{844,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa3d9533b0836350e8d3870958cb401e$</string>
            <key>textureFileName</key>
            <string>fishD_15.png</string>
        </dict>
    </dict>
</plist>
