<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{140,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,84}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>fish_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{138,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{138,86}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>fish_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{140,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,85}}</string>
                <key>sourceSize</key>
                <string>{140,89}</string>
            </dict>
            <key>fish_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>fish_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{140,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,85}}</string>
                <key>sourceSize</key>
                <string>{140,89}</string>
            </dict>
            <key>fish_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{138,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>fish_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{136,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,87}}</string>
                <key>sourceSize</key>
                <string>{140,89}</string>
            </dict>
            <key>fish_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{136,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>fish_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>fish_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,89}}</string>
                <key>sourceSize</key>
                <string>{140,89}</string>
            </dict>
            <key>fish_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{136,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,86}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>fish_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{136,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,87}}</string>
                <key>sourceSize</key>
                <string>{140,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_4.png</string>
            <key>size</key>
            <string>{1682,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b9ddef5fa3f84c019b72d72d0468661$</string>
            <key>textureFileName</key>
            <string>fish_4.png</string>
        </dict>
    </dict>
</plist>
