<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,224}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{221,224}}</string>
                <key>sourceSize</key>
                <string>{221,230}</string>
            </dict>
            <key>fish_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{221,197}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{221,197}}</string>
                <key>sourceSize</key>
                <string>{221,229}</string>
            </dict>
            <key>fish_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{221,130}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{221,130}}</string>
                <key>sourceSize</key>
                <string>{221,230}</string>
            </dict>
            <key>fish_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{221,166}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{221,166}}</string>
                <key>sourceSize</key>
                <string>{221,230}</string>
            </dict>
            <key>fish_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{221,221}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{221,221}}</string>
                <key>sourceSize</key>
                <string>{221,229}</string>
            </dict>
            <key>fish_12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{221,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{221,220}}</string>
                <key>sourceSize</key>
                <string>{221,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_12.png</string>
            <key>size</key>
            <string>{225,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37098e65165a423c71a9646b14cddef8$</string>
            <key>textureFileName</key>
            <string>fish_12.png</string>
        </dict>
    </dict>
</plist>
