<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishD_26_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{442,447}}</string>
                <key>offset</key>
                <string>{43,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,107},{442,447}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{430,370}}</string>
                <key>offset</key>
                <string>{40,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,94},{430,370}}</string>
                <key>sourceSize</key>
                <string>{560,576}</string>
            </dict>
            <key>fishD_26_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,1356},{410,372}}</string>
                <key>offset</key>
                <string>{49,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,117},{410,372}}</string>
                <key>sourceSize</key>
                <string>{560,576}</string>
            </dict>
            <key>fishD_26_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1430},{424,370}}</string>
                <key>offset</key>
                <string>{45,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,137},{424,370}}</string>
                <key>sourceSize</key>
                <string>{560,576}</string>
            </dict>
            <key>fishD_26_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{438,365}}</string>
                <key>offset</key>
                <string>{41,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,158},{438,365}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,473},{460,399}}</string>
                <key>offset</key>
                <string>{35,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,141},{460,399}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,966},{462,427}}</string>
                <key>offset</key>
                <string>{34,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,124},{462,427}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{462,427}}</string>
                <key>offset</key>
                <string>{34,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,124},{462,427}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,950},{428,453}}</string>
                <key>offset</key>
                <string>{40,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,89},{428,453}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,909},{398,445}}</string>
                <key>offset</key>
                <string>{47,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,72},{398,445}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1405},{392,435}}</string>
                <key>offset</key>
                <string>{47,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,53},{392,435}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,483},{420,465}}</string>
                <key>offset</key>
                <string>{40,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,41},{420,465}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{440,481}}</string>
                <key>offset</key>
                <string>{34,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,36},{440,481}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,479}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,38},{452,479}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{460,469}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,33},{460,469}}</string>
                <key>sourceSize</key>
                <string>{560,577}</string>
            </dict>
            <key>fishD_26_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,451},{456,414}}</string>
                <key>offset</key>
                <string>{26,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,48},{456,414}}</string>
                <key>sourceSize</key>
                <string>{560,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishD_26.png</string>
            <key>size</key>
            <string>{1729,1802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:247e1ef522fbff3cfcd5fb10a7378479$</string>
            <key>textureFileName</key>
            <string>fishD_26.png</string>
        </dict>
    </dict>
</plist>
