<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{109,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{107,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{109,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{109,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{109,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,68}}</string>
                <key>sourceSize</key>
                <string>{109,68}</string>
            </dict>
            <key>fish_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{109,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{107,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{107,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{105,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{105,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,67}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>fish_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{105,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{109,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_3.png</string>
            <key>size</key>
            <string>{113,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5f4646227f311e6f6daab235d5e9ba6$</string>
            <key>textureFileName</key>
            <string>fish_3.png</string>
        </dict>
    </dict>
</plist>
