<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{92,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{91,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{91,56}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>gold_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,652},{96,14}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,46},{96,14}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{96,76}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{88,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{90,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{91,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{91,56}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,652},{96,14}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,46},{96,14}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{90,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{92,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>gold_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold.png</string>
            <key>size</key>
            <string>{92,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b91ae51c302f203934079010ce15ca8a$</string>
            <key>textureFileName</key>
            <string>gold.png</string>
        </dict>
    </dict>
</plist>
