<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,404},{223,222}}</string>
                <key>offset</key>
                <string>{-48,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,195},{223,222}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,408},{337,340}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,98},{337,340}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,412},{341,346}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,93},{341,346}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{335,356}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,83},{335,356}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,389},{381,394}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,70},{381,394}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{385,398}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,68},{385,398}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,2},{387,400}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{387,400}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{391,404}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,65},{391,404}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{393,406}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{393,406}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,408}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,63},{397,408}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
            <key>net0_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,410},{331,342}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,97},{331,342}}</string>
                <key>sourceSize</key>
                <string>{505,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>net0_2.png</string>
            <key>size</key>
            <string>{1978,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85f1404d8d1137499287509aab5fabfb$</string>
            <key>textureFileName</key>
            <string>net0_2.png</string>
        </dict>
    </dict>
</plist>
