<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1021},{200,177}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,106},{200,177}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,351},{334,319}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,41},{334,319}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{286,263}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,64},{286,263}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,699},{320,293}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,49},{320,293}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{354,355}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{354,355}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{368,347}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{368,347}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,349}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{380,349}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{368,357}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{368,357}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,712},{356,341}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,35},{356,341}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
            <key>net1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,353},{344,329}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,39},{344,329}}</string>
                <key>sourceSize</key>
                <string>{416,399}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>net1_3.png</string>
            <key>size</key>
            <string>{1024,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:752e7239344384a56ddbfaa9eed5b589$</string>
            <key>textureFileName</key>
            <string>net1_3.png</string>
        </dict>
    </dict>
</plist>
