<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{496,215}}</string>
                <key>sourceSize</key>
                <string>{526,233}</string>
            </dict>
            <key>1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{496,213}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{496,213}}</string>
                <key>sourceSize</key>
                <string>{526,233}</string>
            </dict>
            <key>1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{494,213}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{494,213}}</string>
                <key>sourceSize</key>
                <string>{526,233}</string>
            </dict>
            <key>1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{498,213}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{498,213}}</string>
                <key>sourceSize</key>
                <string>{526,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Handsel.png</string>
            <key>size</key>
            <string>{1994,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ef4b642d462527f7460c87480fffdab$</string>
            <key>textureFileName</key>
            <string>Handsel.png</string>
        </dict>
    </dict>
</plist>
