<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{268,107}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{268,107}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>nn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{268,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{268,103}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>nn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{268,111}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>nn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{268,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{268,105}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>nn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{268,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{268,107}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniu.png</string>
            <key>size</key>
            <string>{1352,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cddf1f3dc45488a827b4988e6ca21aa$</string>
            <key>textureFileName</key>
            <string>niuniu.png</string>
        </dict>
    </dict>
</plist>
