<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FK10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FK2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FK3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FK4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FK5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FK6.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FK7.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FK8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FK9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FKA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FKJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FKK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>FKQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT10.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT5.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT6.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HT9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HTA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HTJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,193},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HTK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>HTQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>J1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>J2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH10.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,384},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MH9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MHA.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MHJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MHK.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>MHQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH10.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,575},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RH9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RHA.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RHJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RHK.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>RHQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,766},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>dp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,766},{189,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{189,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1790,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b019b05995f2c2f5c14d061f4abb2b14$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
