<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>szn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{314,113}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>szn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{314,113}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>szn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{314,113}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>szn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{314,111}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,111}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>szn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,113}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sizhaniu.png</string>
            <key>size</key>
            <string>{1582,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f78870fcecf1241699a83e1746c0524$</string>
            <key>textureFileName</key>
            <string>sizhaniu.png</string>
        </dict>
    </dict>
</plist>
