<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{320,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,113}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>whn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,113}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>whn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,113}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>whn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{320,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,111}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
            <key>whn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,113}}</string>
                <key>sourceSize</key>
                <string>{320,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuhuaniu.png</string>
            <key>size</key>
            <string>{1612,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58017557f8594bf20cf547449eb23480$</string>
            <key>textureFileName</key>
            <string>wuhuaniu.png</string>
        </dict>
    </dict>
</plist>
