<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_FK10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,230},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FK2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FK3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,176},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FK4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,211},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FK5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,211},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FK6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,211},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FK7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FK8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,192},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FK9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,192},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FKA.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,192},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FKJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FKK.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,173},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_FKQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,173},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,173},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,118},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,154},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,154},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,154},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,135},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HT9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,135},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HTA.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,135},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HTJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HTK.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,116},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_HTQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,116},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_J1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,116},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_J2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH10.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,60},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,97},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,97},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,97},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,78},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,78},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,78},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MH9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MHA.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,59},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MHJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,59},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MHK.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,59},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_MHQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH10.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,40},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,40},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,40},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,21},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,21},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,21},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RH9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RHA.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RHJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RHK.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>_RHQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaopoker.png</string>
            <key>size</key>
            <string>{253,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:972fc3ef3911f1991879f5f89c27c0a0$</string>
            <key>textureFileName</key>
            <string>xiaopoker.png</string>
        </dict>
    </dict>
</plist>
