<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{105,54}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>tp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{123,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{123,62}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>tp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{153,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{153,80}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>tp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ztp.png</string>
            <key>size</key>
            <string>{511,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00dcc6addac0eb3e40a37d8b298a5239$</string>
            <key>textureFileName</key>
            <string>ztp.png</string>
        </dict>
    </dict>
</plist>
