<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,42}}</string>
                <key>offset</key>
                <string>{60,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,40},{36,42}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{120,98}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{120,98}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{132,106}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,106}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{132,108}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,108}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{132,108}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,108}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{132,110}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,110}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{132,112}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,112}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{132,112}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,112}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,116},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,116},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,116},{36,32}}</string>
                <key>offset</key>
                <string>{50,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,38},{36,32}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,116},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,116},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,116},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,116},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,232},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,232},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,232},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,232},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,232},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,232},{66,66}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,27},{66,66}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,232},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,348},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,348},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,348},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,348},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,348},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,348},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,464},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,464},{102,84}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,27},{102,84}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,464},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,464},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,464},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,464},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,464},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,464},{132,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,464},{96,68}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{96,68}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{116,96}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,580},{116,98}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,580},{116,98}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>egg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,580},{136,102}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{136,102}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>101.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0003692c59e87ae09bc8e1bfd625ad62$</string>
            <key>textureFileName</key>
            <string>101.png</string>
        </dict>
    </dict>
</plist>
