<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{117,94}}</string>
                <key>offset</key>
                <string>{27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{117,94}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,118}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,118}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{79,74}}</string>
                <key>offset</key>
                <string>{-27,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{79,74}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,76},{79,84}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{79,84}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,157},{79,96}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{79,96}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,238},{81,68}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,52},{81,68}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,238},{81,68}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,52},{81,68}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,251},{79,66}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{79,66}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,251},{79,66}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{79,66}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{79,66}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{79,66}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{79,66}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{79,66}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,98},{107,82}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{107,82}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,196},{79,68}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{79,68}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,196},{79,68}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{79,68}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,188},{79,68}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{79,68}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,104},{91,82}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{91,82}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{85,72}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{85,72}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,122},{79,72}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{79,72}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,258},{69,72}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{69,72}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,238},{57,72}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{57,72}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,182},{67,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,23},{67,88}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>brick_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{123,100}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{123,100}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>102.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:885f407fc2f3652ab090fd9c27de9a04$</string>
            <key>textureFileName</key>
            <string>102.png</string>
        </dict>
    </dict>
</plist>
