<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,83},{31,27}}</string>
                <key>offset</key>
                <string>{45,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,129},{31,27}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,438},{103,131}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,102},{103,131}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{105,113}}</string>
                <key>offset</key>
                <string>{26,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,96},{105,113}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{99,163}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,90},{99,163}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,169},{75,77}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,103},{75,77}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{79,61}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{79,61}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,232},{101,163}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,90},{101,163}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,569},{111,121}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,98},{111,121}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{109,143}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,93},{109,143}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,117},{113,181}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,81},{113,181}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,335},{101,133}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,86},{101,133}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,232},{101,163}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,90},{101,163}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{107,169}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,94},{107,169}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{101,129}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,94},{101,129}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,543},{105,127}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,98},{105,127}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{99,163}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,90},{99,163}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,83},{45,41}}</string>
                <key>offset</key>
                <string>{36,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{45,41}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,456},{111,129}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,98},{111,129}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{113,181}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,81},{113,181}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{113,181}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,81},{113,181}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,335},{119,147}}</string>
                <key>offset</key>
                <string>{14,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,109},{119,147}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
            <key>beat_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,249}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,249}}</string>
                <key>sourceSize</key>
                <string>{165,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>103.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1856c609b00d62d0e3064b7f5dc50e0a$</string>
            <key>textureFileName</key>
            <string>103.png</string>
        </dict>
    </dict>
</plist>
