<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{93,122}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{93,122}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>clap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{93,122}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{93,122}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>clap_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{117,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>clap_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{117,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{117,132}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>clap_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,138}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,138}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>105.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9acd022d30981b3b82e402549ffa2750$</string>
            <key>textureFileName</key>
            <string>105.png</string>
        </dict>
    </dict>
</plist>
