<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{27,16}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,25},{27,16}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,275},{75,92}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{75,92}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,323},{75,98}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{75,98}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,400},{85,106}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{85,106}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,400},{85,106}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{85,106}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,400},{85,106}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{85,106}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,400},{85,106}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{85,106}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,284},{105,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,114}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,168},{105,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,114}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{105,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,114}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{105,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,114}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,109},{49,48}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{49,48}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,114}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{105,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,114}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{105,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,116}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,118}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{105,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,116}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,216},{105,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{105,112}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,168},{105,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{105,112}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,109},{105,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{105,112}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,109},{51,46}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{51,46}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,56},{53,46}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{53,46}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{53,52}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{53,52}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,104},{51,62}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{51,62}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,189},{61,70}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{61,70}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,109},{65,78}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{65,78}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>flower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,323},{75,92}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{75,92}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>108.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77d713acd81e0aa552d2b2f58407c7bc$</string>
            <key>textureFileName</key>
            <string>108.png</string>
        </dict>
    </dict>
</plist>
