<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KISS_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{98,70}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,78},{98,70}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,252},{64,68}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,63},{64,68}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,186},{64,68}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,63},{64,68}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,170},{78,60}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{78,60}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{86,48}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,82},{86,48}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,210},{80,48}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,82},{80,48}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,158},{80,50}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{80,50}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,154},{80,56}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,74},{80,56}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,212},{66,66}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{66,66}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,106}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,57},{124,106}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{102,102}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{102,102}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,106},{92,46}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,83},{92,46}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,122}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{124,122}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,170},{78,48}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,81},{78,48}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,220},{64,52}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,79},{64,52}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,154},{64,52}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,79},{64,52}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{90,52}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,79},{90,52}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,110},{90,58}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,73},{90,58}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,94},{90,58}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,73},{90,58}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>KISS_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,74},{92,82}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,66},{92,82}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>110.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:971cdd201598d490072bf448ef0b8724$</string>
            <key>textureFileName</key>
            <string>110.png</string>
        </dict>
    </dict>
</plist>
