<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,229},{35,23}}</string>
                <key>offset</key>
                <string>{60,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,67}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{121,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,71},{49,31}}</string>
                <key>offset</key>
                <string>{49,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,8},{49,31}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,67}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{121,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,67}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{121,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,67}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{121,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,67}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{121,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,67}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{121,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,104},{61,39}}</string>
                <key>offset</key>
                <string>{38,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,15},{61,39}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{73,47}}</string>
                <key>offset</key>
                <string>{27,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,23},{73,47}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,172},{87,55}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{87,55}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,71},{99,63}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,38},{99,63}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,71},{103,67}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,42},{103,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>car_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{105,67}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{105,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>112.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94d9e87458c08c05c6ff13f17e1fb0b4$</string>
            <key>textureFileName</key>
            <string>112.png</string>
        </dict>
    </dict>
</plist>
