<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>villa_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,724},{152,107}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{152,107}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{154,121}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{154,121}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,714},{148,121}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{148,121}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,605},{156,117}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{156,117}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,365},{160,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{160,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,365},{160,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{160,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{160,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{160,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,244},{160,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{160,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,123},{162,119}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{162,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{162,119}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{162,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,244},{160,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{160,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,833},{150,105}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{150,105}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,119}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{162,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{160,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{160,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,123},{160,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{160,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,119}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{162,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,119}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{162,119}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{160,113}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{160,113}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,601},{158,111}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{158,111}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,486},{158,113}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{158,113}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{158,113}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{158,113}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{152,117}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{152,117}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,839},{152,115}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{152,115}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>villa_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,486},{158,117}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{158,117}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>113.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa9dafdb2cad16e07e23ab30a0f8b2c$</string>
            <key>textureFileName</key>
            <string>113.png</string>
        </dict>
    </dict>
</plist>
